@font-face {
    font-family: 'Manrope-Regular';
    src: url(/fonts/Manrope-Regular.eot);
    src: url(/fonts/Manrope-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Manrope-Regular.woff) format('woff'),
    url(/fonts/Manrope-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(/fonts/Montserrat-SemiBold.eot);
    src: url(/fonts/Montserrat-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Montserrat-SemiBold.woff) format('woff'),
    url(/fonts/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  background-color: #E5E5E5;
  font-family: 'Manrope-Regular';
}
.header {
  position: relative;
  top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 9%) 12% repeat(3, 10%) 40%;
}
.header_elements {
  font-size: 19px;
  color: #8D8D8D;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-bottom: 1px solid;
  margin: 0 55px;
  min-width: 165px;
}
.active_header {
  color: #CCCCCC;
}
#logo {
  color: #2C2C2C;
  font-size: 36px;
  display: flex;
  justify-content: left;
  font-weight:700;
}
.title {
  grid-column: 2 / 7;
  position: relative;
}
#title1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 2px;
  font-family: 'Montserrat-SemiBold';
}
#title2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  top: -30px;
}
.arrow {
  width: 65px;
  opacity:0.5;
}
.wrap_order{
	display:grid;
	margin-top:50px;
	grid-template-columns:3% 28.33333% 4% 28.33333% 4% 28.33333%;
	justify-items:center;
	align-items:center;
}
.text__order{
	justify-self:center;
	font-size:18px;
	color:#2C2C2C;
	line-height:25px;
  text-align: center;
}

.message1{grid-area:message1}
.message2{grid-area:message2}
.mes__name1{grid-area:mes__name1}
.mes__name2{grid-area:mes__name2}

.dialog{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-row-gap: 10px;
	margin-top:140px;
	grid-template-rows:200px 15px 100px 15px;
	grid-template-areas:
		". message1 . ."
		". mes__name1 . . "
		". . message2 ."
		". . mes__name2 ."
}

.message1{
  position: relative;
  left: 100px;
	width:393px;
	height:190px;
	background-color:#5B5464;
	border-radius:30px 30px 30px 0;
}

.message2{
  position: relative;
  left: 100px;
	margin-top:15px;
	width:317px;
	height:90px;
	background-color:#0669DD;
	border-radius:30px 30px 0 30px;
}

.mes__text1{
	font-size:18px;
	color:#F6F6F6;
	line-height:30px;
	padding:22px;
	font-weight:400;
	line-height:30px;
	padding:10px 43px 23px;
	justify-items: start;
	align-content:center;
}

.mes__text2{
	font-size:18px;
	color:#F6F6F6;
	font-weight:400;
	line-height:25px;
	padding:10px 6px;
	text-align: center;
	justify-items: end;
}

.mes__name1{
  position: relative;
  left: 100px;
	font-size:18px;
	color:#808080;
	font-weight:400;
	line-height:25px;
	justify-content: start;
}

.mes__name2{
	margin-left:210px;
	font-size:18px;
	color:#808080;
  position: relative;
	font-size:18px;
	font-weight:400;
	line-height:25px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 45px;
}
.wrap_pictures {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 200px;
  width: 65%;
  left: 21%;
}
#five_min {
  color: #3C0D79;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}
#without {
  color: #5B5464;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}
.dialog2 {
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  margin-top:425px;
  grid-template-rows:200px 15px 100px 15px;
  grid-template-areas:
    ". dialog2_message1 . ."
    ". mes__name1 . . "
    ". . dialog2_message2 ."
    ". . mes__name2 ."
}

.dialog2_message1{grid-area:dialog2_message1}
.dialog2_message2{grid-area:dialog2_message2}

.dialog2_message1 {
  position: relative;
  left: 100px;
  width: 328px;
  height: 132px;
  background-color: #5B5464;
  border-radius: 30px 30px 30px 0;
}
.dialog2_message2 {
  position: relative;
  left: 100px;
  margin-top: 15px;
  width: 300px;
  height: 118px;
  background-color: #0669DD;
  border-radius: 30px 30px 0 30px;
  padding: 0px 11px;
}
.dialog2_mes__text2 {
  font-size: 18px;
  color: #F6F6F6;
  font-weight: 400;
  line-height: 25px;
  padding: 13px 4px;
  text-align: center;
  justify-items: end;
}

.wrap_animation {
  position: relative;
  top: 200px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(7, 1fr);
  height: 900px;
  width: 80%;
  left: 12%;
}
.wrap_img1 {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 8;
  overflow: hidden;
  width: 1168px;
  height: 892px;
}
.grey_square {
  position: relative;
  top: 26px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  width: 157px;
  height: auto;
  margin-bottom: 35px;
  text-decoration: none;
  color: #2C2C2C;
  padding: 11px 34px;
  transition: 0.3s;
}
.white_square {
  background-color: #ffffff;
  transition: 0.3s;
  border-radius: 5px;
}
.all_images {
  position: relative;
  width: 1168px;
  height: 937px;
  transition: 0.2s;
}
.wrap_img2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  transition: 0.1s;
}
.slide1 {
  transform: translateX(-1150px);
  transition: 0.1s;
}
.slide2 {
  transform: translateX(-2300px);
  transition: 0.1s;
}
.slide3 {
  transform: translateX(-3450px);
  transition: 0.1s;
}
.slide4 {
  transform: translateX(-4600px);
  transition: 0.1s;
}
.slide5 {
  transform: translateX(-5750px);
  transition: 0.1s;
}
.slide6 {
  transform: translateX(-6900px);
  transition: 0.1s;
}

.dialog3_message1{grid-area:dialog3_message1}
.dialog3_message2{grid-area:dialog3_message2}
.dialog3_message3{grid-area:dialog3_message3}
.mes__name1{grid-area:mes__name1}
.mes__name2{grid-area:mes__name2}
.mes__name3{grid-area:mes__name3}

.dialog3{
	position:relative;
	margin-top:400px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:150px 15px 110px 15px 110px 15px;
	grid-row-gap:10px;
	grid-template-areas:
		". dialog3_message1 . ."
		". mes__name1 . ."
		". . dialog3_message2 . "
		". . mes__name2 ."
		". dialog3_message3 . ."
		". mes__name3 . ."
}

.dialog3_message1{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:150px 15px;
	grid-row-gap:10px;
	position: relative;
  width: 328px;
  height: 132px;
  background-color: #C4C4C4;
  border-radius: 30px 30px 30px 0;
  grid-template-areas:
		"dialog3_message1"
		"mes__name1"
}

.dialog3_mes__text1{
	font-size:18px;
	color:#1E1E1E;
	line-height:30px;
	padding:2px 43px 23px;
	justify-items: start;
	align-content:center;
	position: absolute;
}

.mes__name1{
  position: relative;
  left:-100px;
  top: -25px;
  left: 0;
  font-size:18px;
  color:#000000;
  line-height:25px;
  justify-self: start;
}

.dialog3_message2{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:110px 15px;
	grid-row-gap:10px;
  position: relative;
  left: 100px;
  margin-top: 15px;
  width: 290px;
  height: 90px;
  background-color: #0669DD;
  border-radius: 30px 30px 0 30px;
  grid-template-areas:
		"dialog3_message2"
		"mes__name2"
}

.dialog3_mes__text2{
  font-size: 18px;
  color: #F6F6F6;
  line-height: 25px;
  padding: 13px 0 29px 27px;
  justify-items: end;
  align-content:center;
  position: absolute;
}

.mes__name2{
	font-size:18px;
  position: relative;
  top: -25px;
  left: -26px;
	color:#808080;
	line-height:25px;
  justify-self: end;
}

.dialog3_message3{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:110px 15px;
	grid-row-gap:10px;
	position: relative;
	margin-top: 25px;
  position: relative;
  width: 328px;
  height: 107px;
  background-color: #C4C4C4;
  border-radius: 30px 30px 30px 0;
    grid-template-areas:
		"dialog3_message3"
		"mes__name3"
}

.mes__name3{
  position: relative;
  top: -10px;
  font-size:18px;
  color:#000000;
  line-height:25px;
  justify-self: start;
}

.legal, .countries {
  position: relative;
  width: 100%;
  height: 800px;
  top: 150px;
}

.mess1 {
  top: -5px !important;
  left: 94px !important;
}
.mess2 {
  top: 37px !important;
  left: 0px !important;
}
.mess3 {
  top: -65px !important;
  left: 97px !important;
}
.mess4 {
  top: 37px !important;
  left: 10px !important;
}

.dialog4_message1{grid-area:dialog4_message1}
.dialog4_message2{grid-area:dialog4_message2}
.dialog4_mes__name1{grid-area:dialog4_mes__name1}
.dialog4_mes__name2{grid-area:dialog4_mes__name2}

.dialog4{
	position:relative;
	margin-top:200px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:90px 15px 110px 15px;
	grid-row-gap:20px;
	grid-template-areas:
		". dialog4_message1 . ."
		". dialog4_mes__name1 . ."
		". . dialog4_message2 . "
		". . dialog4_mes__name2 ."
}

.dialog4_message1{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:90px 15px;
	grid-row-gap:10px;
	position: relative;
	width: 328px;
	height: 77px;
	background-color: #C4C4C4;
	border-radius: 30px 30px 30px 0;
	grid-template-areas:
		"dialog4_message1"
		"dialog4_mes__name1"
}

.dialog4_mes__text1{
	font-size:18px;
	color:#1E1E1E;
	line-height:30px;
	padding:10px 30px;
	justify-items: start;
	align-content:center;
	position: absolute;
}

.dialog4_mes__name1{
	position: relative;
	margin-bottom:10px;
	font-size:18px;
	color:#000000;
	line-height:30px;
	justify-self: start;
}

.dialog4_message2{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:100px 15px;
	grid-row-gap:10px;
	position: relative;
	width: 426px;
	height: 100px;
	background-color:#0669DD;
	border-radius: 30px 30px 0 30px;
	grid-template-areas:
		"dialog4_message2"
		"dialog4_mes__name2"
}

.dialog4_mes__text2{
  font-size: 18px;
  color: #F6F6F6;
  line-height: 25px;
  padding: 10px 36px;
  justify-items: end;
  align-content:center;
  position: absolute;
}

.dialog4_mes__name2{
	font-size:18px;
	color:#000000;
  position: relative;
	line-height:25px;
	justify-self: end;
}
.payment {
  position: relative;
  display: flex;
  justify-content: center;
  top: 96px;
}
.prices {
  position: relative;
  top: 200px;
  width: 100%;
  height: 800px;
}
.dialog5{
	position:relative;
	margin-top:400px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:150px 15px 110px 15px 110px 15px;
	grid-row-gap:10px;
	grid-template-areas:
		". dialog5_message1 . ."
		". mes__name1 . ."
		". . dialog3_message2 . "
		". . mes__name2 ."
		". dialog5_message3 . ."
		". mes__name3 . ."
}
.dialog5_message1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 15px;
    grid-row-gap: 10px;
    position: relative;
    width: 458px;
    height: 78px;
    background-color: #C4C4C4;
    border-radius: 30px 30px 30px 0;
    grid-template-areas:
        "dialog3_message1"
        "mes__name1";
}
.name_edit1 {
  top: -70px !important;
}
.name_edit2 {
  width: 200px !important;
  top: -31px !important;
}
.dialog5_message3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 15px;
    grid-row-gap: 10px;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-top: 25px;
    width: 172px;
    height: 78px;
    background-color: #C4C4C4;
    border-radius: 30px 30px 30px 0;
    grid-template-areas:
        "dialog5_message3"
        "mes__name3";
    position: relative;
    top: 200px;
}
.blue_bubble {
  width: 257px !important;
  top: -50px !important;
  height: 290px !important;
}
.name_edit3 {
  top: 187px !important;
  left: -58px !important;
}
.name_edit4 {
  top: 200px !important;
}
.doc_files {
  position: absolute;
}
#img1 {
  left: 39px;
  top: 42px;
  z-index: 10;
}
#img2 {
  left: 76px;
  top: 17px;
}
#img3 {
  left: 58px;
  top: 28px;
}

.myself {
  position: relative;
  top: 350px;
  display: flex;
  justify-content: center;
}
.inside_myself {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#exapmle_doc {
  grid-column: 2 / 4;
  grid-row: 1 / 5;
}
.purple {
  background-color: #45108A;
  height: 3px;
}
.myself .inside_myself .purple:nth-child(3) {
  grid-column: 4 / 5;
  width: 130px;
  position: relative;
  top: 140px;
  left: -130px;
}
.myself .inside_myself .purple:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  width: 130px;
  top: 91px;
  left: -50px;
}
.common_myself {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  width: 200px;
  line-height: 25px;
}
.myself .inside_myself .common_myself:nth-child(1) {
  display: grid;
  justify-self: center;
  align-items: center;
  width: 150px;
  position: relative;
  top: 30px;
  left: 60px;
}
.myself .inside_myself .common_myself:nth-child(4) {
  grid-column: 4 / 5;
  position: relative;
  top: -90px;
  left: 45px;
}
.myself .inside_myself .common_myself:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  justify-self: center;
  align-items: center;
  position: relative;
  left: 85px;
  top: 35px;
}
.myself .inside_myself .purple:nth-child(6) {
  width: 312px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: absolute;
  top: 100px;
  left: -51px;
}
.myself .inside_myself .purple:nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  z-index: 1;
  width: 130px;
  position: relative;
  top: -40px;
  left: -125px;
}
.myself .inside_myself .common_myself:nth-child(8) {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  position: relative;
  top: -70px;
  left: 46px;
}
.myself .inside_myself .common_myself:nth-child(9) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  justify-self: center;
  align-items: center;
  position: relative;
  left: 85px;
  top: -25px;
}
.myself .inside_myself .purple:nth-child(10) {
  width: 90px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  z-index: 1;
  position: relative;
  top: 25px;
  left: -19px;
}
.myself .inside_myself .common_myself:nth-child(11) {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: grid;
  justify-self: center;
  align-items: center;
  top: -67px;
  left: 86px;
}
.myself .inside_myself .purple:nth-child(12) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  z-index: 1;
  position: relative;
  width: 229px;
  left: -19px;
  top: -10px;
}
.myself .inside_myself .purple:nth-child(13) {
  position: relative;
  width: 593px;
  top: -35px;
  grid-column: 3 / 5;
  grid-row: 4 / 5;
  left: -137px;
}
.myself .inside_myself .common_myself:nth-child(14) {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  top: -75px;
  left: 46px;
}

.payment__img{
	width:80px;
}
