@font-face {
	font-family: 'Inter-Regular';
	src: url(/fonts/Inter-Regular.eot);
	src: url(/fonts/Inter-Regular.eot?#iefix) format('embedded-opentype'),
	url(/fonts/Inter-Regular.woff) format('woff'),
	url(/fonts/Inter-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter-Bold';
	src: url(/fonts/Inter-Bold.eot);
	src: url(/fonts/Inter-Bold.eot?#iefix) format('embedded-opentype'),
	url(/fonts/Inter-Bold.woff) format('woff'),
	url(/fonts/Inter-Bold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url(/fonts/Montserrat-Regular.eot);
	src: url(/fonts/Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
	url(/fonts/Montserrat-Regular.woff) format('woff'),
	url(/fonts/Montserrat-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	border: 0;
	background: #F4F7F9;
	font-family: 'Inter-Regular';

}
.wrap_gus {
  display: flex;
  justify-content: center;
  overflow: hidden;
	height: 100vh;
	align-items: center;
	margin: 0;
}

.gus {
  width: 1290px;
  display: grid;
  position: relative;
  grid-template-columns: 47% 53%;
}
#logo {
  mix-blend-mode: multiply;
}
.title {
  font-size: 28.5342px;
  line-height: 120%;
  font-family: 'Inter-Bold';
  margin-top: 100px;
  width: 495px;
}
.text, .each_contact {
  font-size: 22px;
  line-height: 140%;
}
.each_icon {
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.each_contact {
      margin: 0px;
}
#fone {
	position: fixed;
	bottom: 0;
	height: 100vh;
}
.com_links {
  color: black;
  text-decoration: none;
}
.wrap_contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
      width: 727px;
}
.prof {
  width: 561px;
}
.hidden_contact {
  display: none;
}

@media (min-width: 1020px) and (max-width: 1290px) {
  body {
    -moz-transform: scale(0.75, 0.75); /* Moz-browsers */
    zoom: 0.75; /* Other non-webkit browsers */
    zoom: 75%; /* Webkit browsers */
  }
  #fone {
    height: auto;
  }
  .wrap_gus {
    display: flex;
    justify-content: center;
    overflow: auto;
    height: 100%;
    align-items: center;
    margin: 0;
    margin-top: 56px;
  }
  .wrap_elements {
    -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 80%; /* Webkit browsers */
    padding: 0px !important;
    overflow: inherit !important;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  body {
    -moz-transform: scale(0.6, 0.6); /* Moz-browsers */
    zoom: 0.6; /* Other non-webkit browsers */
    zoom: 60%; /* Webkit browsers */
  }
  #fone {
        height: auto;
  }
  .wrap_gus {
    display: flex;
    justify-content: center;
    overflow: auto;
    height: 100%;
    align-items: center;
    margin: 0;
    margin-top: 56px;
  }
  .wrap_elements {
    zoom: 100% !important;
    padding: 0px !important;
    overflow: inherit !important;
  }
}

@media (min-width: 567px) and (max-width: 768px) {
  body {
    -moz-transform: scale(0.45, 0.45); /* Moz-browsers */
    zoom: 0.45; /* Other non-webkit browsers */
    zoom: 45%; /* Webkit browsers */
  }
  .wrap_fone {
    position: relative;
    left: -316px;
  }
  #fone {
        width: 149%;
        height: auto;
  }
  .wrap_gus {
    display: flex;
    justify-content: center;
    overflow: auto;
    height: 100%;
    align-items: center;
    margin: 0;
    margin-top: 56px;
  }
  .wrap_elements {
    zoom: 100% !important;
    padding: 0px !important;
    overflow: inherit !important;
  }
}

@media (min-height: 600px) and (max-height: 1170px) {
.wrap_elements {
  zoom: 69%;
  overflow: hidden;
  padding-right: 121px;
}
}

@media (min-width: 320px) and (max-width: 567px) {
  .wrap_gus {
    margin-top: 60px;
        height: 1358px;
  }
  body {
    -moz-transform: scale(1, 1); /* Moz-browsers */
    zoom: 1; /* Other non-webkit browsers */
    zoom: 100%; /* Webkit browsers */
  }
  .gus {
    width: 320px;
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 24px;
    line-height: 120%;
    font-family: 'Inter-Bold';
    margin-top: 67px;
    width: 320px;
    margin-bottom: 0px;
  }
  .text, .each_contact {
    font-size: 17px;
    line-height: 30px;
    width: 320px;
}
.prof {
    width: 320px;
}
.wrap_contacts {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 208px;
    width: 320px;
    position: relative;
    top: -125px;
        z-index: 1;
}
#post {
      grid-row: 2 / 3;
}
.each_icon {
      top: 6px;
}
.wrap_fone {
  position: relative;
  top: -616px;
}
.down_street {
  width: 242px;
}
#fone {
  width: 931px;
  bottom: auto;
  position: absolute;
}
#street, #house {
display: none;
}
.hidden_contact {
  display: block;
  width: 221px;
  position: relative;
  top: 20px;
}
.wrap_elements {
  zoom: 100% !important;
  padding: 0px !important;
  overflow: inherit !important;
}
}

