@media (min-width: 320px) and (max-width: 576px) {
	/*businessSw*/
	.wrap_businessSw{
		width:290px;
	}
	#background_businessSw{
		left: -400px;
		width: 1120px;
		height: 450px;
	}
	#logo_businessSw{
		top: 135px;
		left: 0px;
		height: 200px;
	}
	.businessSw_information{
		grid-template-columns: 286px;
		grid-column-gap: 0px;
	}
	.businessSw_text2{
		width: 290px;
		font-size: 12px;
		line-height: 19px;
		margin: 0 0 27px 0;
	}
	.businessSw_title{
		font-size: 23px;
		line-height: 32px;
		grid-column: 1/3;
		width: 286px;
		margin: 0 0 9px 0;
	}
	.info_block_title span{
		display: none;
	}
	.businessSw_subtitle{
		font-size: 16px;
		line-height: 25px;
		grid-column: 1/3;
		width: 261px;
		margin: 0 0 17px 0;
	}
	.businessSw_text{
		width: 271px;
		margin: 0 0 15px 0;
	}
	.businessSw_information_btn1{
		grid-row: 7/8;
		grid-column: 1/2;
	}
	.businessSw_information_btn2{
		grid-row: 7/8;
		grid-column: 1/2;
		top: 72px;
	}
	.businessSw_information_btn3{
		grid-row: 7/8;
		grid-column: 1/2;
		top: 144px;
	}
	.businessSw_info_block{
		margin-top: 193px;
		height: 1320px;
		grid-template-columns: 255px;
		grid-template-rows: 315px 315px 295px 295px;
		grid-column-gap: 0px;
		grid-row-gap: 30px;
	}
	 .info_block_btn1, .info_block_btn2, .info_block_btn3, .info_block_btn4{
		margin: 0 0 0 17px;
	}
	.info_block_title{
		margin-left: 17px;
		margin-top: 16px;
	}
	.info_block_text{
		width: 205px;
		padding-left: 17px;
	}
	.info_block_1, .info_block_2,
	.info_block_3, .info_block_4{
		grid-column: 1/2;
		background: #FFFFFF;
		box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
	}
	.info_block_2{
		grid-row: 2/3;
	}
	.info_block_3{
		grid-row: 3/4;
	}
	.info_block_4{
		grid-row: 4/5;
	}
	.info_block_btn2{
		position: relative;
		top: 0px;
	}
	.businessSw_timeline, .businessSw_timeline2{
		display: none;
	}
	.businessSw_timeline3{
		display: block;
		margin: 83px 0 68px 0;
	}
	.businessSw_item{
		font-size: 24px;
		line-height: 31px;
	}
	.businessSw_first_row{
		grid-template-columns:  69px 74px 92px;
		grid-column-gap: 20px;
		width: 290px;
		height: 130px;
	}
	.businessSw_packages_button1,
	.businessSw_packages_button2,
	.businessSw_packages_button3{
		font-size: 12px;
		line-height: 19px;
		display: inline-block;
		padding: 9px 5px;
		height: 60px;
		text-align: left;
	}
	.businessSw_first_row .span_button{
		font-size: 12px;
		line-height: 19px;
	}
	.businessSw_packages_rates{
		font-size: 18px;
		line-height: 25px;
		margin: 0 0 10px 0;
		position: relative;
	}
	.first_row_column2 .businessSw_packages_rates{
		left: -10px;
	}
	.first_row_column3 .businessSw_packages_rates{
		left: -2px;
	}
	.first_row_column4 .businessSw_packages_rates{
		left: 15px;
	}
	.businessSw_packages_button1{
		width: 69px;
	}
	.businessSw_packages_button2{
		width: 74px;
	}
	.businessSw_packages_button3{
		width: 77px;
		left: 15px;
	}
	.businessSw_first_row .first_row_column2{
		grid-column: 1/2;
	}
	.businessSw_first_row .first_row_column3{
		grid-column: 2/3;
	}
	.businessSw_first_row .first_row_column4{
		grid-column: 3/4;
	}
	.businessSW_additionally{
		margin: 66px 0;
		grid-template-columns: 291px;
		grid-column-gap: 0px;
	}
	.businessSW_additionally .businessSw_item{
		margin-bottom: 20px;
	}
	.businessSw_packages{
		margin-top: 16px;
	}
	.businessSW_additionally .additionally_text{
		width: 290px;
	}
	.businessSW_additionally .additionally_table{
		margin-top: 17px;
	}


	/*About*/
	.wrap_about{
		width:290px;
	}
	#background_about{
		left: -400px;
		width: 1120px;
		height: 409px;
		}
	#logo_about{
		display: none;
	}
	.about_header_block{
		text-align: center;
		width: 290px;
		height: 338px;
		top: 35px;
		left: inherit;
		}
	.header_block_title{
		font-size: 35px;
		line-height: 42px;
		padding: 19px 0 0 0px;
		width: 290px;
		}
	.header_block_subtitle{
		padding-left: 0px;
		width: 290px;
		margin: 41px 0 18px 0;
		}
	.header_block_link1{
		margin-left: 0px;
	}
	.header_block_link2{
		margin-left: 38px;
		width: 63px;
	}
	.header_block_link3{
		margin-left: 38px;
		width: 61px;
	}
	.about_title{
		font-size: 35px;
		line-height: 42px;
		margin: 46px 0 25px 0;
		width: 290px;	
	}
	.about_text{
		font-size: 14px;
		line-height: 22px;
		width: 290px;
	}
	.about_information{
		margin: 60px 0 0 0 ;
		grid-template-columns: 290px;
		grid-template-rows: 175px 175px 300px;
		grid-row-gap: 50px;
		grid-column-gap: 0px;
	}
	.information_block_text{
		font-size: 14px;
		line-height: 22px;
		width: 277px;
		margin: 0 0 16px 0;
	}
	.about_information_block1{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.about_information_block2{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.about_information_block3{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.about_benefits{
		display: none;
	}
	
	.about_team_title{
		margin: 79px 0 0 0;
	}
	.about_team{
		margin: 51px 0 0 0;
		grid-template-columns: 237px;
		grid-template-rows: 1290px;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	.about_person2, .about_person3, .about_person4, .about_person5,
	.about_person6{
		display: none;
	}
	.person_info{
		margin: 0 0 10px 0;
	}
	.person_info_1{
		margin: 40px 0 10px 0;
	}
	#person_img{
		width: 237px;
	}
	.person_name{
		font-size: 18px;
		line-height: 26px;
		margin: 37px 0 0 0
	}
	.person_position{
		font-size: 18px;
		line-height: 26px;
		margin: 7px 0 15px 0;
	}
	.person_text, .person_info, .person_info_1{
		width: 234px;
	}
	.person_button{
		display: block;
		font-size: 14px;
		line-height: 22px;
		text-decoration: none;
		color: #3D3D3D;
		border: 1px solid #3D3D3D;
		border-radius: 5px;
		padding: 2px 11px;
		margin: 40px 0 0 0;
		width: 90px;
	}
	.about_partners_block{
		margin: 92px 0 150px 0;
	}
	.partners_block_title{
		font-size: 24px;
		line-height: 32px;
		margin:  0 0 28px 0;
		width: 174px;
	}
	.partners_country{
		border: 1px solid #3D3D3D;
		border-radius: 5px;
		height: 28px;
		padding: 2px 11px;
		font-size: 14px;
		line-height: 26px;
		margin: 0 20px 19px 0;
	}
	.partners_country:hover{
		border: 1px solid #D0000F;
	}
	.partners_block_map{
		width: 290px;
		margin: 19px 0 0 0;
		left: 0px;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
	}
	#map_img{
		width: 290px;
	}
	#location_img{
		width: 9px;
	}
	.map_location_1{
		top: 15px;
		left: 125px;
	}
	.map_location_2{
		top: 5px;
		left: 160px;
	}
	.map_location_3{
		top: 35px;
		left: 168px;
	}
	.map_location_4{
		top: 40px;
		left: 195px;
	}
}



