@media (min-width: 576px) and (max-width: 767px) {
	.header{
		width:513px;
		height: 60px;
		z-index: 10;
	}
	.red_logo{
		width: 204px;
		height: 60px;
		border-radius: 0px 0px 4.50096px 4.50096px;
	}
	#logo{
		width: 159px;
		height: 36px;
		padding-left: 22.5px;
		padding-top: 11.47px;
	}
	.header_link{
		display: none;
	}
	/*MainScreen*/
	.wrap_mainScreen{
		width:513px;
		grid-template-columns:250px 219px;
		grid-column-gap:40px;
		margin-top:44px;
	}
	.mainScreen_title{
		font-size: 34px;
		line-height: 42px;
		width: 250px;
	}
	.mainScreen_subtitle{
		font-size: 14px;
		line-height: 22px;
		width: 249px;
		padding-top: 10px;
	}
	.mainScreen_link{
		font-size: 14px;
		line-height: 22px;
		height: 28px;
	}
	#mainImage{
		width: 219px;
		height: 224px;
	}
	.link4, .link5{
		padding-top: 58px;
	}
	.link6, .link7{
		padding-top: 26px;
	}
	.link5{
		grid-column: 1/3;
		width: 149px;
		margin-left: 193px;
	}
	.link7{
		margin-left: 151px;
		width: 108px;
	}
	.link4{
		width: 156px;
	}
	.link6{
		width: 113px;
	}
	.mountains{
		top: 64px;
		left: -120px;
		height: 270px;
	}
	#mountains_img{
		width: 1000px;
	}
		/*SettleGrow*/
	.wrap_settleGrow{
		top: -85px;
		width:513px;
		height: 1010px;
		grid-template-columns:176px 303px;
		grid-column-gap:28px;
	}
	.settleGrow_title{
		display: none;
	}
	.settleGrow_title2{
		display: inline-block;
		font-size: 35px;
		line-height: 42px;
		margin: 0;
		width: 231px;
		grid-column: 1/2;
		grid-row: 2/3;
		z-index: 15;
		margin-bottom: 56px;
	}
	.settleGrow_item{
		font-size: 21px;
		line-height: 26px;
	}
	.settleGrow_text{
		font-size: 14px;
		line-height: 22px;
		padding-top: 15px;
	}
	#grow_img{
		width: 176px;
		height: 253px;
	}
	.settleGrow_img{
		width: 315px;
		height: 514px;
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.settleGrow_block{
		grid-column: 2/3;
		grid-row: 3/4;
	}
	.grow_item1{
		padding-top: 0px;
	}
	.grow_item2, .grow_item3{
		padding-top: 40px;
	}
	.grow_text1, .grow_text2, .grow_text3{
		width: 303px;
	}
	.grow_download{
		display: none;
	}
	.settleGrow_img{
		display: none;
	}
	.settleGrow_phone{
		display: block;
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.settleGrow_phone_text{
		font-size: 14px;
		line-height: 22px;
		color: #B8B8B8;
		width: 156px;
		margin: 10px 0 0 0;
	}
	/*Subscribe*/
	.container_sub{
		background: url(../images/Rectangle124.png) center no-repeat;
		margin-top: 48px;
	}
	.wrap_subscribe{
		display: none;
	}
	.wrap_subscribe_phone{
		display: block;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)), url(../images/Rectangle127.png), #F3F3F3;
		width: 513px;
		height: 286px;	
		margin: 38px 0;	
	}
	.subscribe_title_phone{
		font-family: 'Montserrat-Bold';
		width: 346px;
		font-size: 40px;
		line-height: 48px;
		margin: 40px 132px 0px 35px;
		color: #3D3D3D;
	}
	.subcribe_input_phone{
		width: 238px;
		font-size: 35px;
		line-height: 49px;
		font-family: 'Montserrat-Regular';
		color: #3D3D3D;
		border-bottom: 1px solid #3D3D3D;
		padding: 0 0 8px 0;
		outline: none;
		background: none;
		position: relative;
		top: 33px;
		margin: 0 0 0 35px;
		border-top: none;
    	border-right: none;
    	border-left: none;
	}
	.subcribe_button_phone{
		width: 101px;
		font-size: 35px;
		line-height: 49px;
		font-family: 'Montserrat-Regular';
		color: #B8B8B8;
		border-bottom: 1px solid #B8B8B8;
		padding: 0 0 8px 0;
		outline: none;
		background: none;
		position: relative;
		top: 33px;
		margin: 0 0 0 27px;
		border-top: none;
    	border-right: none;
    	border-left: none;
	}
	/*Information*/
	.wrap_information{
		width:513px;
		margin: 54px 0px 94px 0px;
		grid-row-gap: 54px;
		grid-template-rows: 717px 770px 900px 820px;
	}
	.information_block1{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.information_block2{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.information_block3{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.information_block4{
		grid-column: 1/2;
		grid-row: 4/5;
	}
	#block1_img, #block2_img, #block3_img, #block4_img{
		grid-row: 1/2;
		width: 509px;
		height: 329px;
		margin-bottom: 29px;
	}
	.information_title{
		padding-left: 28px;
		margin-bottom: 42px;
	}
	.block1_title{
		width: 262px;
	}
	.information_text{
		padding-left: 28px;
	}
	.information_more{
		margin: 0px 0px 0px 28px;
		grid-row: 4/5;
		height: 39px;
	}
	.information_block1{
		grid-template-rows: 358px 126px 171px 61px;
	}
	.information_block2{
		grid-template-rows: 358px 126px 225px 61px;
	}
	.information_block3{
		grid-template-rows: 358px 126px 356px 61px;
	}
	.information_block4{
		grid-template-rows: 358px 126px 276px 61px;
	}
	/*Footer*/
	.wrap_footer{
		width: 513px;
		height: 270px;
		grid-template-columns: 206px 94px 193px 17px;
		grid-template-rows: 77px 36px repeat(3, 42px) 25px;
		padding: 36px 0px 58px 0px;
	}
	.footer_link{
		font-size: 14px;
		line-height: 22px;
		height: 25px;
		padding-top: 0px;
		top: 0px;
	}
	.footer_contacts{
		display: none;
	}
	.language2{
		grid-column: 4/5;
		grid-row: 3/4;
		width: 17px;
		top: 0;
		padding-top: 0;
	}
	#footer_trigon{
		grid-column: 4/5;
		grid-row: 4/5;
		padding-left: 2px;
		padding-top: 10px;
	}
	.phone2{
		grid-column: 3/4;
		grid-row: 3/4;
		width: 118px;
		top: 0;
		padding-top: 0;
	}
	.link8{
		grid-column: 1/2;
		grid-row: 2/3;
		padding-top: 0;
		top: 0;
	}
	.link9{
		grid-column: 1/2;
		grid-row: 3/4;
		width: 156px;
		top: 0px;
	}
	.link10{
		grid-column: 1/2;
		grid-row: 4/5;
		width: 149px;
	}
	.link11{
		grid-column: 1/2;
		grid-row: 5/6;
		width: 113px;
	}
	.link12{
		grid-column: 1/2;
		grid-row: 6/7;
		width: 108px;
	}
	.link13{
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.link14{
		width: 37px;
		grid-column: 2/3;
		grid-row: 3/4;
		top: 0px;
	}
	.link15{
		grid-column: 2/3;
		grid-row: 4/5;
		width: 55px;
	}
	.link16{
		grid-column: 2/3;
		grid-row: 5/6;
		width: 53px;
	}
	.link18{
		grid-column: 3/4;
		grid-row: 4/5;
		top: 0px;
	}
}

