@media (min-width: 576px) and (max-width: 767px) {
	/*BankAccount*/
	.wrap_bankAccount{
		width:513px;
   }
	#background_bank{
		left: -400px;
		width: 1120px;
		height: 438px;
	}
	#logo_bank{
		left: 50px;
		height: 350px;
	}
	.bankAccount_title{
		font-size: 34px;
		line-height: 40px;
		margin: 40px 0px 20px 0px;
	}
	.bankAccount_subtitle, .advantages_block1, .bankAccount_text{
	font-size: 14px;
	line-height: 24px;
	}
	.bankAccount_item{
		width: 510px;
		font-size: 23px;
		line-height: 32px;
	}
	.bankAccount_subtitle{
		width: 510px;
	}
	.timeline_block{
		display: none;
	}
	.timeline_block2{
		display: block;
	}
	#timeline_img{
		display: none;
	}
	#timeline_img2{
		display: block;
		margin-top: 30px;
		height: 680px;
		position: relative;
		left: -30px;
	}
	.bankAccount_block1{
		margin-top: 20px;
		grid-template-columns: 510px;
		grid-column-gap:0px;
	}
	.bankAccount_block2{
		margin-top: 65px;
		grid-template-columns: 510px;
		grid-column-gap: 0px;
	}
	.bankAccount_block3{
		margin: 65px 0 96px 0;
		grid-template-columns: 510px;
	}
	.advantages1, .block2_text6, .block3_text1{
		margin: 20px 0 10px 0;
	}
	.advantages3{
		margin: 10px 0;
	}
	.block2_text2, .block2_text4, .block3_text3{
		margin: 10px 0;
	}
	.block2_text1, .block2_text6{
		width: 510px;
	}
	.block1_button{
		margin-top: 15px;
		grid-column: 1/2;
		grid-row: 6/7;
	}
	.block2_button{
		grid-column: 1/2;
		grid-row: 8/9;
		margin-top: 20px;
		width: 260px;
	}
	.advantages_block1{
		width: 509px;
	}

}