@media (min-width: 320px) and (max-width: 576px) {
	.header{
		width:290px;
		height: 60px;
		z-index: 10;
	}
	.red_logo{
		width: 204px;
		height: 60px;
		border-radius: 0px 0px 4.50096px 4.50096px;
	}
	#logo{
		width: 159px;
		height: 36px;
		padding-left: 22.5px;
		padding-top: 11.47px;
	}
	.header_link{
		display: none;
	}
	/*MainScreen*/
	.wrap_mainScreen{
		width:290px;
		grid-template-rows:300px 84px 124px 70px;
		grid-row-gap:0px;
		margin-top:44px;
	}
	.mainScreen_title{
		grid-row: 2/3;
		font-size: 34px;
		line-height: 42px;
		width: 250px;
	}
	.mainScreen_subtitle{
		grid-row: 3/4;
		font-size: 14px;
		line-height: 22px;
		width: 249px;
		padding-top: 36px;
	}
	.mainScreen_link{
		grid-row: 4/5;
		font-size: 14px;
		line-height: 22px;
		height: 28px;
	}
	#mainImage{
		grid-row: 1/2;
		width: 248px;
		height: 242px;
	}
	.link4, .link5, .link6, .link7{
		padding-top: 22px;
	}
	.link5{
		width: 149px;
		margin-left: 198px;
	}
	.link7{
		margin-left: 500px;
		width: 108px;
	}
	.link4{
		width: 156px;
	}
	.link6{
		width: 113px;
		margin-left: 500px;
	}
	.mountains{
		top: 54px;
		left: -150px;
		height: 220px;
	}
	#mountains_img{
		width: 700px;
	}
	/*SettleGrow*/
	.wrap_settleGrow{
		top: -85px;
		width:290px;
		height: 1230px;
		grid-template-columns:290px;
		grid-column-gap:0px;
	}
	.settleGrow_title{
		display: none;
	}
	.settleGrow_title2{
		display: inline-block;
		font-size: 35px;
		line-height: 42px;
		margin: 0;
		width: 231px;
		grid-column: 1/2;
		grid-row: 2/3;
		z-index: 15;
		margin-bottom: 36px;
	}
	.settleGrow_item{
		font-size: 21px;
		line-height: 26px;
	}
	.settleGrow_text{
		font-size: 14px;
		line-height: 22px;
		padding-top: 15px;
	}
	#grow_img{
		width: 145px;
		height: 207px;
	}
	.settleGrow_img{
		width: 145px;
		height: 207px;
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.settleGrow_block{
		grid-column: 1/2;
		grid-row: 4/5;
		position: relative;
		top: -180px;
	}
	.grow_item1{
		padding-top: 34px;
	}
	.grow_item2, .grow_item3{
		padding-top: 27px;
	}
	.grow_text1, .grow_text2, .grow_text3{
		width: 288px;
	}
	.grow_text1{
		width: 285px;
	}
	.grow_download{
		display: none;
	}
	.settleGrow_img{
		display: none;
	}
	.settleGrow_phone{
		display: block;
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.settleGrow_phone_text{
		font-size: 14px;
		line-height: 22px;
		color: #B8B8B8;
		position: relative;
		width: 120px;
    	margin: 0 0 0 198px;
    	top: -255px;
	}
	/*Subscribe*/
	.container_sub{
		background: url(../images/Rectangle124.png) center no-repeat;
		margin-top: 48px;
	}
	.wrap_subscribe{
		display: none;
	}
	.wrap_subscribe_phone{
		display: block;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)), url(../images/Rectangle127.png), #F3F3F3;
		width: 290px;
		height: 151px;
		margin: 27px 0;	
	}
	.subscribe_title_phone{
		font-family: 'Montserrat-Bold';
		width: 192px;
		font-size: 24px;
		line-height: 31px;
		margin: 16px 0px 0px 35px;
		width: 250px;
		color: #3D3D3D;
	}
	.subcribe_input_phone{
		width: 113px;
		font-size: 21px;
		line-height: 26px;
		font-family: 'Montserrat-Regular';
		color: #3D3D3D;
		border-bottom: 1px solid #3D3D3D;
		padding: 0 0 9px 0;
		outline: none;
		border-top: none;
		border-right: none;
		border-left: none;
		top: 10px;
		position: relative;
		background: none;
		margin: 0 0 0 35px;
	}
	.subcribe_button_phone{
		width: 60px;
		font-size: 21px;
		line-height: 26px;
		font-family: 'Montserrat-Regular';
		color: #B8B8B8;
		border-bottom: 1px solid #B8B8B8;
		padding: 0 0 9px 0;
		outline: none;
		border-top: none;
		border-right: none;
		border-left: none;
		top: 10px;
		position: relative;
		margin: 0 0 0 19px;
		background: none;
	}
	/*Information*/
	.wrap_information{
		width:290px;
		margin: 54px 0px 89px 0px;
		grid-row-gap: 27px;
		grid-template-rows: 520px 585px 720px 610px;
		margin-bottom: 89px;
	}
	.information_block1{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.information_block2{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.information_block3{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.information_block4{
		grid-column: 1/2;
		grid-row: 4/5;
	}
	#block1_img, #block2_img, #block3_img, #block4_img{
		grid-row: 1/2;
		width: 290px;
		height: 187px;
		margin-bottom: 16.55px;
	}
	.information_title{
		padding-left: 15px;
		margin-bottom: 31px;
		font-size: 24px;
		line-height: 32px;
	}
	.block1_title, .block2_title, .block3_title, .block4_title{
		width: 186px;
	}
	.information_text{
		padding-left: 15px;
		font-size: 14px;
		line-height: 22px;
		width: 263px;
	}
	.information_more{
		margin: 0px 0px 0px 15px;
		grid-row: 4/5;
		height: 26px;
	}
	.information_block1{
		grid-template-rows: 204px 76px 211px 30px;
	}
	.information_block2{
		grid-template-rows: 204px 76px 276px 30px;
	}
	.information_block3{
		grid-template-rows: 204px 76px 411px 30px;
	}
	.information_block4{
		grid-template-rows: 204px 76px 301px 30px;
	}
	/*Footer*/
	.wrap_footer{
		width: 290px;
		height: 385px;
		grid-template-columns: 206px 55px;
		grid-template-rows: 77px 36px repeat(3, 42px) 69px 51px 19px;
		padding: 36px 0px 88px 0px;
	}
	.footer_link{
		font-size: 14px;
		line-height: 22px;
		height: 25px;
		padding-top: 0px;
		top: 0px;
	}
	.footer_contacts{
		display: none;
	}
	.language2{
		grid-column: 2/3;
		grid-row: 7/8;
		width: 17px;
		top: 0;
		padding-top: 0;
	}
	#footer_trigon{
		grid-column: 2/3;
		grid-row: 8/9;
		padding-left: 2px;
		padding-top: 12px;
	}
	.phone2{
		grid-column: 1/2;
		grid-row: 7/8;
		width: 118px;
		top: 0;
		padding-top: 0;
	}
	.link8{
		grid-column: 1/2;
		grid-row: 2/3;
		padding-top: 0;
		top: 0;
	}
	.link9{
		grid-column: 1/2;
		grid-row: 3/4;
		width: 156px;
		top: 0px;
	}
	.link10{
		grid-column: 1/2;
		grid-row: 4/5;
		width: 149px;
	}
	.link11{
		grid-column: 1/2;
		grid-row: 5/6;
		width: 113px;
	}
	.link12{
		grid-column: 1/2;
		grid-row: 6/7;
		width: 108px;
	}
	.link13{
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.link14{
		width: 37px;
		grid-column: 2/3;
		grid-row: 3/4;
		top: 0px;
	}
	.link15{
		grid-column: 2/3;
		grid-row: 4/5;
		width: 55px;
	}
	.link16{
		grid-column: 2/3;
		grid-row: 5/6;
		width: 53px;
	}
	.link18{
		grid-column: 1/2;
		grid-row: 8/9;
		top: 0px;
	}
}

