@media (min-width: 320px) and (max-width: 576px) {
	/*BankAccount*/
	.wrap_bankAccount{
		width:290px;
	}
	#background_bank{
		left: -300px;
		width: 820px;
		height: 400px;
	}
	#logo_bank{
		left: 10px;
		height: 200px;
		padding-top: 90px;
	}
	.bankAccount_title{
		font-size: 29px;
		line-height: 39px;
		margin: 45px 0px 25px 0px;
		width: 290px;
	}
	.bankAccount_subtitle, .advantages_block1, .bankAccount_text{
	font-size: 14px;
	line-height: 24px;
	}
	.bankAccount_item{
		width: 290px;
		font-size: 23px;
		line-height: 32px;
	}
	.bankAccount_subtitle{
		width: 290px;
	}
	.timeline_block{
		display: none;
	}
	.timeline_block2{
		display: block;
	}
	#timeline_img{
		display: none;
	}
	#timeline_img2{
		display: block;
		margin-top: 30px;
		height: 680px;
		position: relative;
		left: -30px;
	}
	.bankAccount_block1{
		margin-top: 0px;
		grid-template-columns: 290px;
		grid-column-gap:0px;
	}
	.bankAccount_block2{
		margin-top: 65px;
		grid-template-columns: 290px;
		grid-column-gap: 0px;
	}
	.bankAccount_block3{
		margin: 65px 0 96px 0;
		grid-template-columns: 290px;
	}
	.advantages1, .block2_text6, .block3_text1{
		margin: 20px 0 10px 0;
	}
	.advantages3{
		margin: 10px 0;
	}
	.block2_text2, .block2_text4, .block3_text3{
		margin: 10px 0;
	}
	.block2_text1, .block2_text6{
		width: 290px;
	}
	.block1_button{
		padding: 9px 18px;
		width: 290px;
		margin-top: 15px;
		grid-column: 1/2;
		grid-row: 6/7;
	}
	.block2_button{
		grid-column: 1/2;
		grid-row: 8/9;
		margin-top: 20px;
		width: 260px;
	}
	.advantages_block1{
		width: 290px;
	}
	
}

