@media (min-width: 320px) and (max-width: 576px) {
	/*SwissCompanies*/
	.wrap_SwissCompanies{
		width:290px;
	}
	#background_swiss{
		left: -400px;
		width: 1120px;
		height: 450px;
	}
	#logo_swiss{
		top: 135px;
		left: 0px;
		height: 200px;
	}
	.SwissCompanies_title{
		font-size: 30px;
		line-height: 40px;
		margin: 60px 0 15px 0;
	}
	.SwissCompanies_question{
		font-size: 20px;
		line-height: 30px;
	}
	.SwissCompanies_information{
		grid-template-columns: 271px;
		grid-template-rows: 80px 140px 530px 174px 64px 64px 64px 280px;
		grid-column-gap: 0px;
		margin: 0 0 80px 0;
		height: 1400px;
	}
	.SwissCompanies_text{
		width: 271px;
		margin: 0 0 10px 0;
	}
	.SwissCompanies_text_2{
		width: 271px;
	}
	.SwissCompanies_benefits{
		grid-column: 1/2;
		grid-row: 8/9;
	}
	.benefits_title{
		font-size: 14px;
		line-height: 24px;
		width: 240px;
	}
	.benefits_1, .benefits_2, .benefits_3, .benefits_4,
	.benefits_5, .benefits_6{
		width: 220px;
		margin: 0 0 10px 0;
	}
	.icon-plus{
		margin-right: 12px;
	}
	.SwissCompanies_benefits .SwissCompanies_text{
		font-size: 14px;
		line-height: 24px;
	}
	.SwissCompanies_button1, .SwissCompanies_button2,
	.SwissCompanies_button3{
		padding: 11px 15px;
		font-size: 14px;
		line-height: 14px;
		height: 40px;
	}
	.SwissCompanies_button2{
		width: 176px;
		top: 0px;
		left: 0px;
	}
	.SwissCompanies_button1{
		width: 157px;
		top: 0;
	}
	.SwissCompanies_button3{
		width: 137px;
		top: 0px;
		left: 0px;
	}
	.SwissCompanies_table{
		margin: 60px 0 80px 0;
	}
	.table_column{
		padding: 20px 24px;
	}
	.table_row{
		padding: 27px 24px;
		width: 217px;
		height: 84px;
	}
	.table_text{
		padding: 10px 15px;
		width: 207px;
	}

	.link_last_row1, .link_last_row2, .link_last_row3,
	.link_last_row4, .link_last_row5, .link_last_row6,
	.link_last_row7, .link_last_row8, .link_last_row9{
		margin-left: 15px;
	}
	.link_last_row1, .link_last_row4, .link_last_row7{
		margin: 28px 0 26px 15px;
	}
	.link_last_row2, .link_last_row5, .link_last_row8{
		margin: 0 0 26px 15px;
	}
	.first_row{
		width: 291px;
		height: 60px;
		grid-template-columns:  116px 58px 58px 58px;
	}
	.packages_rates{
		font-size: 12px;
		line-height: 18px;
		margin: 0 0 5px 0;
	}
	.packages_price{
		font-size: 10px;
		line-height: 15px;
	}
	.row_grey, .row_white{
		height: 45px;
	}
	.packages_name{
		font-size: 10px;
		line-height: 12px;
		padding-left: 0px;
	}
	.packages_plus, .packages_minus{
		font-size: 24px;
		line-height: 25px;
	}
	.column_1{
		width: 116px;
	}
	.column_2,.column_3, .column_4{
		width: 58px;
	}
	.last_row_packages{
		grid-template-columns:  116px 58px 58px 58px;
		width: 291px;
		height: 80px;
	}
	.packages_button1, .packages_button2, .packages_button3{
		font-size: 14px;
		line-height: 20px;
		padding: 5px 10px;
		height: 56px;
		text-align: left;
	}
	.last_row_column2{
		grid-column: 1/2;
		text-align: left;
	}
	.last_row_column3{
		grid-column: 2/3;
		text-align: left;
	}
	.last_row_column4{
		grid-column: 3/4;
		text-align: left;
	}
	.packages_button1{
		width: 88px;
	}
	.packages_button2{
		width: 92px;
		left: -21px;
	}
	.packages_button3{
		width: 95px;
		left: 20px;
	}
	.span_button{
		font-size: 14px;
		line-height: 20px;
	}
	.additionally{
		margin-top: 70px;
		grid-template-columns: 291px;
		grid-column-gap: 0px;
	}
	.additionally_text{
		grid-column: 1/2;
		grid-row:2/3;
		width: 270px;
	}
	.additionally_table{
		margin-top: 40px;
		grid-column: 1/2;
		grid-row:3/4;
	}
	.additionally_row_grey, .additionally_row_white{
		display: grid;
		grid-template-rows: 84px;
		grid-template-columns: 164px 127px;
	}
	.AT_column1{
		width: 164px;
		margin-right: 0px;
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.AT_column2{
		width: 123px;
		margin-right: 0px;
		grid-column: 1/2;
		grid-row: 1/2;
		margin-top: 35px;
	}
	.AT_column3{
		width: 137px;
		grid-column: 2/3;
		grid-row: 1/2;
	}
	.additionally_name{
		font-size: 14px;
		line-height: 20px;
		padding-left: 0px;
		position: relative;
		top: -12px;
	}
	.additionally_price{
		font-size: 14px;
		line-height: 24px;
		text-align: left;
	}
	.additionally_button, .additionally_button_buy{
		font-size: 14px;
		line-height: 24px;
		padding: 5px 5px;
		width: 112px;
	}
	.additionally_buy{
		font-size: 14px;
		line-height: 22px;
		padding: 9px 15px;
		height: 44px;
		width: 178px;
		top:0px;
		text-align: center;
	}
	.additionally_buy .span_button{
		font-size: 14px;
		line-height: 22px;
	}
	.item_center{
		margin: 65px 0 20px 0;
		font-size: 21px;
		line-height: 34px;
	}
	.text_center{
		margin-bottom: 100px;
		width: 291px;
		font-size: 14px;
		line-height: 24px;
	}
	.text_center br{
		display: none;
	}
}

