@media (min-width: 320px) and (max-width: 576px) {
	.wrap_error{
		margin:345px 0 91px 0;
		width:290px;
	}
	.error_title{
		margin: 0 0 12px 0;
		font-size: 24px;
		line-height: 32px;
		width: 249px;
	}
	.error_subtitle{
		font-size: 14px;
		line-height: 22px;
		margin: 0 0 20px 0;
		width: 290px;
	}
	.error_button{
		font-size: 14px;
		line-height: 22px;
		height: 26px;
	}

	/*InvestmentStart*/
	.wrap_investment{
		width:290px;
	}
	#background_investment{
		left: -400px;
		width: 1120px;
		height: 450px;
	}
	#logo_investment{
		top: 55px;
		left: -50px;
		height: 400px;
	}
	.investment_start_title{
		font-size: 23px;
		line-height: 32px;
		margin: 30px 0 0 0;
	}
	.investment_start_text{
		width: 270px;
	}
	.investment_information{
		grid-template-columns: 290px;
		grid-column-gap: 0px;
		grid-template-rows: 440px 250px;
		grid-row-gap: 50px;
	}
	.investment_start_btn1{
		margin: 50px 0 0 0;
	}
	.investment_start_btn2{
		margin: 50px 0 0 17px;
	}
	.investment_text{
		width: 290px;
	}
	.investment_registration{
		grid-template-columns: 290px;
		grid-template-rows: 450px;
		grid-column-gap: 0px;
		margin: 10px 0 83px 0;
		height: 450px;
	}
	.investment_registration_text2{
		display: none;
	}
	.registration_company, .registration_phone,
	.registration_mail, .registration_name{
		font-size: 16px;
		line-height: 19px;
		padding: 9px 44px 9px 22px;
	}
	.registration_company{
		top: 20px;
		left: 0px;
	}
	.registration_phone{
		top: 40px;
	}
	.registration_mail{
		top: 60px;
		left: 0px;
	}
	.registration_info{
		padding: 9px 44px 77px 22px;
		top:80px;
		font-size: 16px;
		line-height: 19px;
	}
	.registration_button{
		top: 80px;
	}
	.investment_registration_text{
		left: 119px;
		top: -50px;
		width: 172px;
	}

	/*BusinessDevelopment*/
	.wrap_development{
		width:290px;
	}
	.business_development{
		grid-template-columns: 290px;
		grid-column-gap: 0px;
	}
	.business_development_img{
		display: none;
	}
	.business_development_subtitle{
		width: 290px;
		margin: 17px 0 0 0;
	}
	.due_diligence{
		margin: 75px 0 0 0;
	}
	.due_diligence_subtitle{
		width: 265px;
	}
	.due_diligence_block1 li{
		width: 246px;
	}
	.due_diligence_block1_text{
		margin: 30px 0 0 0;
		width: 237px;
	}
	.due_diligence_block1 li{
		padding: 0 0 12px 0;
	}
	.due_diligence_block1{
		height: 1830px;
	}
	.due_diligence_item{
		margin: 24px 0 0 0px;
	}
	.due_diligence_block2{
		height: 270px;
	}
	.due_diligence_block3{
		height: 330px;
	}
	.due_diligence_block4{
		height: 215px;
	}
	.due_diligence_text{
		margin: 24px 0 0 0;
	}
	.due_diligence_block1, .due_diligence_block2,
	.due_diligence_block3, .due_diligence_block4, .planning_block1, 
	.planning_block2, .planning_block3, .strategy_block1, 
	.strategy_block2, .strategy_block3, .strategy_block4, 
	.strategy_block5, .legal_block1, .legal_block2, 
	.legal_block3, .legal_block4, .marketing_block1,.marketing_block2,
	.marketing_block3, .marketing_block4,
	.marketing_block5{
		width: 290px;
		margin: 31px 0 0 0;
		padding: 21px 0 40px 14px;
	}
	.block1_colunns{
		margin: 19px 0 0 0;
		grid-template-columns: 288px;
		grid-template-rows: 330px 393px 350px;
		grid-column-gap:0px;
		grid-row-gap: 19px;
	}
	.block1_column3{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.business_development_title{
		font-size: 23px;
		line-height: 32px;
		width: 290px;
	}
	.due_diligence_title, .planning_title,
	.innovation_title, .strategy_title,
	.legal_title, .marketing_title,
	.management_title, .investments_title{
		font-size: 23px;
		line-height: 32px;
		width: 212px;
	}
	.due_diligence_block_text {
		width: 265px;
	}
	.planning_subtitle{
		width: 290px;
	}
	.planning_info{
		position: relative;
		margin: 0px 0 0 0px;
    	top: -145px;
	}
	.planning_subtitle{
		width: 280px;
		top: 122px;
		position: relative;
	}
	.planning_and_projecting li,
	.strategy li{
		width: 250px;
	}
	.planning_and_projecting ol{
		margin: 0;
	}
	.planning_block1{
		height: 280px;
	}
	.planning_block2{
		height: 370px;
	}
	.planning_block3{
		height: 335px;
	}
	.planning_and_projecting_text {
		width: 290px;
		margin: 24px 0 0 0;
  }
  .planning_and_projecting, .innovation, .strategy, 
  .legal{
		margin: 54px 0 0 0;
  }
  .innovation_subtitle, .strategy_subtitle,
  .legal_subtitle, .marketing_subtitle, .management_subtitle{
	  width: 290px;
  }
  .strategy_block_text{
	  width: 260px;
  }
  .strategy_block1{
	  height: 480px;
  }
  .strategy_block3{
	  height: 630px;
  }
  .strategy_block4{
	  height: 365px;
  }
  .strategy_block5{
	  height: 1030px;
  }
  .st_1 {
		margin: 10px 0 10px 0px;
	}
	.strategy_block2 ul {
		padding: 0 0 0 18px;
		margin-left: 0px;
	}
	.planning_item, .strategy_item, .legal_item, .marketing_item {
		margin: 24px 0 0 0px;
	}
	.strategy_block5 ul{
		padding-left: 18px;
		margin-bottom: 0;
	}
	.legal ol {
		padding-left: 0;
		margin: 0;
	}
	.legal_block2{
		height: 430px;
	}
	.legal_block3{
		height: 150px;
	}
	.legal_button{
		position: relative;
		margin: 0px 0 0 0px;
		top: 1599px;
	}
	.marketing_and_sales{
		margin: 140px 0 0 0;
	}
	.marketimg_text, .management_text, .investments_text{
		width: 265px;
	}
	.management_text, .investments_text {
		margin: 20px 0 0 0px;
		width: 285px;
   }
	.investments {
		margin: 75px 0 110px 0;
	}
	.st_2{
		border: none;
	}
	.legal_item span,
	.strategy_item span,
	.due_diligence_item span{
		border-bottom: 1px dashed #B8B8B8;
		margin-bottom: 7px;
    	display: inline-block;
	}
	.legal_item:active span,
	.strategy_item:active span,
	.due_diligence_item:active span{
		border-bottom: 1px solid #D0000F;
	}
	.st_2:active{
		border-bottom: 1px solid #FFFFFF;
	}

}



