@media (min-width: 576px) and (max-width: 767px) {
	/*businessSw*/
	.wrap_businessSw{
		width:513px;
	}
	#background_businessSw{
		left: -300px;
		width: 1120px;
		height: 400px;
	}
	#logo_businessSw{
		top: 45px;
		left: 10px;
		height: 350px;
	}
	.businessSw_information{
		grid-template-columns: 250px 227px;
		grid-column-gap: 33px;
	}
	.businessSw_title{
		grid-column: 1/3;
		width: 373px;
	}
	.info_block_title span{
		display: none;
	}
	.businessSw_subtitle{
		font-size: 35px;
		grid-column: 1/3;
		width: 455px;
		margin: 0 0 37px 0;
	}
	.businessSw_text{
		width: 250px;
		margin: 0 0 15px 0;
	}
	.businessSw_information_btn2{
		top: 82px;
	}
	.businessSw_information_btn3{
		top: 164px;
	}
	.businessSw_info_block{
		margin-top: 71px;
		height: 620px;
		grid-template-columns: 233px 174px;
		grid-template-rows: 265px 265px;
		grid-column-gap: 57px;
		grid-row-gap: 59px;
	}
	.info_block_3{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.info_block_4{
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.info_block_btn2{
		position: relative;
		top: -21px;
	}
	.businessSw_timeline{
		display: none;
	}
	.businessSw_timeline2{
		display: block;
		margin: 97px 0 62px 0;
	}
	.businessSw_first_row{
		grid-template-columns:  128px 137px 142px;
		grid-column-gap: 50px;
		width: 510px;
		height: 180px;
	}
	.businessSw_packages_button1,
	.businessSw_packages_button2,
	.businessSw_packages_button3{
		font-size: 16px;
		line-height: 26px;
		display: inline-block;
		padding: 11px 18px;
		height: 76px;
		text-align: left;
	}
	.businessSw_first_row .span_button{
		font-size: 18px;
		line-height: 26px;
	}
	.businessSw_packages_rates{
		font-size: 24px;
		line-height: 32px;
		margin: 0 0 12px 0;
		position: relative;
	}
	.first_row_column2 .businessSw_packages_rates{
		left: -30px;
	}
	.first_row_column3 .businessSw_packages_rates{
		left: -22px;
	}
	.first_row_column4 .businessSw_packages_rates{
		left: -14px;
	}
	.businessSw_packages_button1{
		width: 128px;
	}
	.businessSw_packages_button2{
		width: 138px;
	}
	.businessSw_packages_button3{
		width: 142px;
	}
	.businessSw_first_row .first_row_column2{
		grid-column: 1/2;
	}
	.businessSw_first_row .first_row_column3{
		grid-column: 2/3;
	}
	.businessSw_first_row .first_row_column4{
		grid-column: 3/4;
	}
	.businessSW_additionally{
		margin: 83px 0 85px 0;
		grid-template-columns: 510px;
		grid-column-gap: 0px;
	}
	.businessSW_additionally .businessSw_item{
		margin-bottom: 20px;
	}
	.businessSw_packages{
		margin-top: 36px;
	}
	.businessSw_text2{
		width: 370px;
	}
	
	/*About*/
	.wrap_about{
		width:513px;
	}
	#background_about{
		left: -300px;
		width: 1120px;
		height: 479px;
	}
	#logo_about{
		display: none;
	}
	.about_header_block{
		text-align: center;
		width: 513px;
		height: 339px;
		top: 70.84px;
		left: inherit;
	}
	.header_block_title{
		padding: 40px 0 0 100px;
		width: 313px;
	}
	.header_block_subtitle{
		padding-left: 80.89px;
		width: 351px;
	}
	.header_block_link1{
		margin-left: 0px;
	}
	.header_block_link2{
		margin-left: 38px;
		width: 63px;
	}
	.header_block_link3{
		margin-left: 38px;
		width: 61px;
	}
	.about_title{
		font-size: 35px;
		line-height: 42px;
		margin: 62px 0 25px 0;
	}
	.about_text{
		font-size: 14px;
		line-height: 22px;
		width: 507px;
	}
	.about_information{
		margin: 60px 0 0 0 ;
		grid-template-columns: 463px;
		grid-template-rows: 175px 175px 250px;
		grid-row-gap: 41px;
		grid-column-gap: 0px;
	}
	.about_information_block1{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.about_information_block2{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.about_information_block3{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.information_block_text{
		font-size: 14px;
		line-height: 22px;
		width: 463px;
		margin: 0 0 16px 0;
	}
	.about_benefits{
		margin: 93px 0 0 0;
		justify-content: flex-start;
	}
	.about_benefets_text{
		padding-left: 58px;
		top:-50px;
	}
	.benefits2_row1 .about_benefets_text{
		width: 158px;
		top:-40px;
	}
	.benefits1_row1 .about_benefets_text{
		width: 163px;
	}
	.benefits1_row2 .about_benefets_text{
		width: 159px;
		top:-57px;
	}
	.benefits3_row1 .about_benefets_text{
		top:-47;
	}
	.benefits1_row1, .benefits2_row1, .benefits3_row1,
	.benefits1_row2, .benefits2_row2{
		display: block;
		flex: 0;
		margin-right: 61px;
	}
	.benefits1_row1, .benefits3_row1{
		margin-bottom: 0px;
		margin-right: 110px;
	}
	.about_team_title{
		margin: 74px 0 0 0;
	}
	.about_team{
		margin: 45px 0 0 0;
		grid-template-columns: repeat(2, 239px);
		grid-template-rows: 1395px 1090px 1070px;
		grid-column-gap: 29px;
		grid-row-gap: 50px;
	}
	#person_img{
		width: 239px;
	}
	.person_name{
		font-size: 20px;
		line-height: 32px;
		margin: 26px 0 0 0
	}
	.person_position{
		font-size: 18px;
		line-height: 26px;
		margin: 10px 0 18px 0;
	}
	.person_text, .person_info, .person_info_1{
		width: 219px;
	}
	.about_partners_block{
		margin: 154px 0 157px 0;
	}
	.partners_block_title{
		font-size: 24px;
		line-height: 32px;
		margin:  0 0 29px 0;
	}
	.partners_country{
		height: 31px;
		font-size: 18px;
		line-height: 26px;
		margin: 0 45px 0 0;
	}
	.partners_block_map{
		margin: 65px 0 0 0;
		left: 0px;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		width: 455px;
	}
	#map_img{
		width: 455px;
	}
	#location_img{
		width: 15px;
	}
	.map_location_1{
		top: 28px;
		left: 198px;
	}
	.map_location_2{
		top: 18px;
		left: 250px;
	}
	.map_location_3{
		top: 62px;
		left: 260px;
	}
	.map_location_4{
		top: 70px;
		left: 305px;
	}
}

