@media (min-width: 576px) and (max-width: 767px) {
	/*TaxLegal*/
	.wrap_taxLegal{
		width: 513px;
		grid-template-columns: 513px;
		grid-column-gap:0px ;
	}
	#background_tax{
		left: -300px;
		width: 1120px;
		height: 400px;
	}
	#logo_tax{
		top: 45px;
		left: 10px;
		height: 350px;
	}
	.taxLegal_title{
		margin: 50px 0 20px 0;
	}
	.taxLegal_subtitle{
		font-size: 14px;
		line-height: 24px;
		width: 513px;
	}
	.taxLegal_button{
		margin-bottom: 30px;
		grid-row: 4/5;
		grid-column: 1/2;
	}
	.tax_text{
		font-size: 14px;
		line-height: 19px;
		width: 450px;
	}
	.taxLegal_section1{
		width: 510px;
		height: 66px;
		padding: 25px 0px 25px 25px;
		grid-column: 1/2;
	}
	.taxLegal_section2{
		padding: 25px 0px 33px 25px;
		width: 510px;
		height: 810px;
		grid-column: 1/2;
	}
	.taxLegal_section3{
		padding: 25px 0px 33px 25px;
		width: 510px;
		height: 525px;
		grid-column: 1/2;
	}

/*AMLcontrol*/
	.wrap_amlControl{
		width:513px;
	}
	#background_aml{
		left: -300px;
		width: 1120px;
		height: 400px;
	}
	#logo_aml{
		top: 45px;
		left: 10px;
		height: 350px;
	}
	.amlControl_title{
		margin: 50px 0 20px 0;
	}
	.amlControl_subtitle{
		font-size: 14px;
		line-height: 24px;
		width: 513px;
		margin: 0 0 40px 0;
	}
	.amlControl_text{
		width: 450px;
		margin: 0 0 10px 0;
	}
	.amlControl_section1, .amlControl_section2,
	.amlControl_section3, .amlControl_section4{
		width: 510px;
		padding: 25px 0 25px 25px;
		margin: 30px 0;
	}
	.amlControl_section1{
		height: 470px;
	}
	.amlControl_section2{
		height: 240px;
	}
	.amlControl_section3{
		height: 565px;
	}
	.amlControl_section4{
		height: 1330px;
	}
	.amlControl_section5{
		margin: 0 0 50px 0;
		width: 470px;
		height: 170px;
		padding-left: 25px;
	}
	.aml_section_item{
		margin: 20px 0 10px 0;
	}
	.aml_section_item2{
		margin-top: 50px;
	}
}

