@media (min-width: 576px) and (max-width: 767px) {
	/*Blog*/
	.wrap_blog{
		width:513px;
	}
	#background_blog{
		left: -300px;
		width: 1120px;
		height: 500px;
	}
	#logo_blog{
		top: 45px;
		left: 10px;
		height: 350px;
	}
	.blog_grid{
		grid-template-columns: repeat(1, 341px);
		grid-template-rows: repeat(3, 350px);
		grid-column-gap: 0px;
		grid-row-gap: 30px;
	}
	.blog_new{
		margin-bottom: 20px;
	}
	.wrap_new{
		flex-wrap: wrap;
	}


}

