@media (min-width: 320px) and (max-width: 576px) {
	/*Blog*/
	.wrap_blog{
		width:290px;
	}
	#background_blog{
		left: -400px;
		width: 1120px;
		height: 450px;
	}
	#logo_blog{
		top: 55px;
		left: -50px;
		height: 400px;
	}
	.blog_grid{
		grid-template-columns: repeat(1, 290px);
		grid-template-rows: repeat(3, 310px);
		grid-column-gap: 0px;
		grid-row-gap: 35px;
	}
	#image_blog{
		width: 290px;
	}
	.blog_new{
		margin-bottom: 15px;
		margin-right: 10px;
	}
	.wrap_new{
		flex-wrap: wrap;
	}
}



