@media (min-width: 576px) and (max-width: 767px) {
	/*SwissCompanies*/
	.wrap_SwissCompanies{
		width:513px;
	}
	#background_swiss{
		left: -300px;
		width: 1120px;
		height: 400px;
	}
	#logo_swiss{
		top: 45px;
		left: 10px;
		height: 350px;
	}
	.SwissCompanies_title{
		font-size: 41px;
		line-height: 64px;
		margin: 60px 0 35px 0;
	}
	.SwissCompanies_information{
		grid-template-columns: 238px 240px;
		grid-column-gap: 35px;
		margin: 0 0 150px 0;
		height: 1245px;
	}
	.SwissCompanies_text{
		width: 238px;
		margin: 0 0 10px 0;
	}
	.SwissCompanies_text_2{
		width: 418px;
	}
	.SwissCompanies_benefits{
		grid-column: 2/3;
		grid-row: 1/4;
	}
	.benefits_title{
		font-size: 14px;
		line-height: 24px;
	}
	.benefits_1, .benefits_2, .benefits_3, .benefits_4,
	.benefits_5, .benefits_6{
		width: 220px;
		margin: 0 0 10px 0;
	}
	.icon-plus{
		margin-right: 12px;
	}
	.SwissCompanies_benefits .SwissCompanies_text{
		font-size: 14px;
		line-height: 24px;
	}
	.SwissCompanies_button2{
		top: 37px;
		left: 0px;
	}
	.SwissCompanies_button3{
		top: 60px;
		left: 0px;
	}
	.SwissCompanies_table{
		margin: 60px 0 103px 0;
	}
	.table_column{
		padding: 20px 24px;
	}
	.table_row{
		padding: 27px 24px;
		width: 217px;
		height: 84px;
	}
	.table_text{
		padding: 10px 15px;
		width: 207px;
	}

	.link_last_row1, .link_last_row2, .link_last_row3,
	.link_last_row4, .link_last_row5, .link_last_row6,
	.link_last_row7, .link_last_row8, .link_last_row9{
		margin-left: 15px;
	}
	.link_last_row1, .link_last_row4, .link_last_row7{
		margin: 28px 0 26px 15px;
	}
	.link_last_row2, .link_last_row5, .link_last_row8{
		margin: 0 0 26px 15px;
	}
	.first_row{
		width: 510px;
		height: 76px;
		grid-template-columns:  216px 95px 94px 95px;
	}
	.packages_rates{
		font-size: 18px;
		line-height: 20px;
		margin: 0 0 11px 0;
	}
	.packages_price{
		font-size: 16px;
		line-height: 20px;
	}
	.row_grey, .row_white{
		height: 62px;
	}
	.packages_name{
		font-size: 14px;
		line-height: 24px;
		padding-left: 19px;
	}
	.packages_plus, .packages_minus{
		font-size: 30px;
		line-height: 25px;
	}
	.column_1{
		width: 216px;
	}
	.column_3{
		width: 94px;
	}
	.column_2, .column_4{
		width: 95px;
	}
	.last_row_packages{
		grid-template-columns:  216px 95px 98px 98px;
		width: 510px;
		height: 110px;
	}
	.packages_button1, .packages_button2, .packages_button3{
		font-size: 14px;
		line-height: 20px;
		padding: 5px 10px;
		height: 56px;
		text-align: left;
	}
	.packages_button1{
		width: 88px;
	}
	.packages_button2{
		width: 92px;
	}
	.packages_button3{
		width: 95px;
	}
	.span_button{
		font-size: 14px;
		line-height: 20px;
	}
	.additionally{
		margin-top: 70px;
		grid-template-columns: 510px;
		grid-column-gap: 0px;
	}
	.additionally_text{
		grid-column: 1/2;
		grid-row:2/3;
		width: 427px;
	}
	.additionally_table{
		margin-top: 50px;
		grid-column: 1/2;
		grid-row:3/4;
	}
	.AT_column1{
		width: 171px;
		margin-right: 25px;
	}
	.AT_column2{
		width: 123px;
		margin-right: 40px;
	}
	.AT_column3{
		width: 137px;
	}
	.additionally_name{
		font-size: 14px;
		line-height: 24px;
		padding-left: 12px;
	}
	.additionally_price{
		font-size: 16px;
		line-height: 26px;
	}
	.additionally_buy{
		font-size: 16px;
		line-height: 26px;
		padding: 9px 15px;
		height: 50px;
		width: 207px;
		top:20px;
		text-align: center;
	}
	.additionally_buy .span_button{
		font-size: 21px;
		line-height: 26px;
	}
	.additionally_button, .additionally_button_buy{
		padding: 5px 10px;
		width: 137px;
	}
	.item_center{
		margin: 84px 0 20px 0;
		font-size: 21px;
		line-height: 34px;
	}
	.text_center{
		margin-bottom: 130px;
		width: 510px;
		font-size: 14px;
		line-height: 24px;
	}
	.text_center br{
		display: none;
	}
}

