@font-face {
    font-family: 'Manrope-Regular';
    src: url('../../fonts/Manrope-Regular.eot');
    src: url('../../fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Regular.woff') format('woff'),
    url('../../fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../../fonts/Montserrat-SemiBold.eot');
    src: url('../../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  background-color: #E5E5E5;
  font-family: 'Manrope-Regular';
}
