/*Blog*/
.wrap_blog{
	width:1120px;
}
#background_blog{
	position: relative;
	left: -400px;
	width: 1920px;
	height: 538px;
}
#logo_blog{
	position: absolute;
	top: 57px;
	left: 92px;
	z-index: 4;
	height: 500px;
	mix-blend-mode: soft-light;
	opacity: 0.8;
}
.blog_title{
	font-family: 'Montserrat-Bold';
	font-size: 60px;
	line-height: 84px;
	color: #3D3D3D;
	margin: 30px 0 19px 0;
}
.wrap_new{
	display: flex;
}
.blog_new{
	text-decoration: none;
	padding: 4px 17px;
	box-sizing: border-box;
	width: 82px;
	height: 36px;
	font-size: 16px;
	line-height: 28px;
	color: #FFFFFF;
	background: #C4C4C4;
	margin-right: 20px;
}
.image_blog_new{
	position: absolute;
	box-sizing: border-box;
	font-size: 18.8346px;
	line-height: 33px;
	color: #FFFFFF;
	padding: 4px 11px;
	background: #D0000F;
	opacity: 0.36;
	width: 81.65px;
	height: 42.38px;
	margin-top: -47px;
}
.blog_grid{
	margin: 40px 0 63px 0;
	display: grid;
	grid-template-columns: repeat(3, 341px);
	grid-template-rows: repeat(2, 350px);
	grid-gap: 43px;
}
.blog_name{
	font-size: 18.8346px;
	line-height: 33px;
	margin: 18px 0 2px 0;
	width: 312px;
}
.blog_date{
	font-size: 18.8346px;
	line-height: 33px;
	color: #9F9F9F;
	margin: 0;
}
