/*Subscribe*/
.wrap_subscribe{
	background:url(../images/Rectangle\ 122.png) center no-repeat;
	width:1120px;
	height: 460px;
	border-radius: 20px;
	margin-top: 45px;
}
.subscribe_title{
	font-family: 'Montserrat-Bold';
	width: 346px;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	margin: 194px 714px 20px 50px;
}
.subcribe_input{
	width: 346px;
	height: 84px;
	background: rgba(18, 18, 18, 0.1);
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	border-radius: 8px;
	padding: 31px;
	margin-left: 50px;
	font-size: 17px;
	line-height: 22px;
	color: #FFFFFF;
}
.subcribe_button{
	width: 137px;
	height: 84px;
	background: linear-gradient(267.02deg, #D0000F 4.05%, #B4000D 95.03%);
	border-radius: 8px;
	margin-left: 20px;
	font-size: 17px;
	line-height: 22px;
	color: #FFFFFF;
}
.subcribe_text{
	position: relative;
	font-size: 12px;
	line-height: 19px;
	color: #FFFFFF;
	top: -50px;
	margin-left: 572px;
}

/*Information*/

.wrap_information{
	width:1120px;
	margin-top: 55px;
	display: grid;
	grid-gap: 56px;
	grid-template-columns:repeat(2, 527px);
}
.information_block1{
	grid-column: 1/2;
	grid-row: 1/2;
	display: grid;
}
.information_block2{
	grid-column: 2/3;
	grid-row: 1/2;
	display: grid;
}
.information_block3{
	grid-column: 1/2;
	grid-row: 2/3;
	display: grid;
}
.information_block4{
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
}
#block1_img, #block2_img, #block3_img, #block4_img{
	grid-row: 1/2;
	width: 527px;
	height: 329px;
	margin-bottom: 29px;
}
.information_title{
	padding-left: 36px;
	font-family: 'Montserrat-Bold';
	font-size: 35px;
	line-height: 42px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #3D3D3D;
	grid-row: 2/3;
	margin: 0px 0px 24px 0px;
}
.block2_title{
	width: 373px;
}
.block3_title{
	width: 230px;
}
.block4_title{
	width: 302px;
}
.information_text{
	padding-left: 36px;
	grid-row: 3/4;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	margin: 0;
	width: 420px;
}
.information_more{
	width: 39px;
	margin: 0px 0px 0px 36px;
	grid-row: 4/5;
	font-size: 16px;
	line-height: 26px;
	height: 36px;
	border-bottom: 1px solid #B8B8B8;
}
.information_block1{
	grid-template-rows: 358px 108px 176px 36px;
}
.information_block2{
	grid-template-rows: 358px 108px 228px 40px;
}
.information_block3{
	grid-template-rows: 358px 108px 368px 40px;
}
.information_block4{
	grid-template-rows: 358px 108px 290px 40px;
}

