/*BankAccount*/
.wrap_bankAccount{
	width:1120px;
	display: grid;
}
#background_bank{
	position: relative;
	left: -400px;
	width: 1920px;
	height: 538px;
}
#logo_bank{
	position: absolute;
	padding-top: 57px;
	left: 93px;
	z-index: 4;
	height: 500px;
	mix-blend-mode: soft-light;
	opacity: 0.8;
}
.bankAccount_title{
	font-family: 'Montserrat-Bold';
	font-size: 60px;
	line-height: 84px;
	color: #3D3D3D;
	margin: 60px 0px 31px 0px;
}
.bankAccount_subtitle{
	width: 618px;
	margin: 0 0 34px 0;
}
.bankAccount_subtitle, .advantages_block1, .bankAccount_text{
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}
.bankAccount_item{
	font-family: 'Inter-Bold';
	font-size: 24px;
	line-height: 32px;
	color: #3D3D3D;
	margin: 0;
}
.timeline_block2{
	display: none;
}
#timeline_img2{
	display: none;
}
#timeline_img{
	margin-top: 4px;
	height: 208px;
}
.bankAccount_block1{
	margin-top: 60.75px;
	display: grid;
	grid-template-columns: 659px 295px;
	grid-column-gap: 157px;
}
.advantages1{
	grid-column: 1/2;
	grid-row: 2/3;
	margin: 20px 0;
}
.advantages2{
	grid-column: 1/2;
	grid-row: 3/4;
	margin: 0;
}
.advantages3{
	grid-column: 1/2;
	grid-row: 4/5;
	margin: 20px 0;
}
.advantages4{
	grid-column: 1/2;
	grid-row: 5/6;
	margin: 0;
}
.bankAccount_block2{
	margin-top: 62.9px;
	display: grid;
	grid-template-columns: 659px 295px;
	grid-column-gap: 157px;
}
.block2_text6{
	width: 622px;
	font-size: 16px;
	line-height: 26px;
	grid-column: 1/2;
	grid-row: 2/3;
	margin: 20px 0 16px 0;
}
.block2_text1{
	grid-column: 1/2;
	grid-row: 3/4;
	margin: 0;
	width: 637px;
}
.block2_text2{
	grid-column: 1/2;
	grid-row: 4/5;
	margin: 23px 0;
}
.block2_text3{
	grid-column: 1/2;
	grid-row: 5/6;
	margin: 0;
}
 .block2_text4{
	grid-column: 1/2;
	grid-row: 6/7;
	margin: 23px 0;
}
.block2_text5{
	grid-column: 1/2;
	grid-row: 7/8;
	margin: 0;
}
.bankAccount_block3{
	margin: 42.4px 0 96px 0;
	display: grid;
	grid-template-columns: 662px;
}
.block3_text1{
	margin: 20px 0 22px 0;
}
.block3_text2{
	margin: 0;
}
.block3_text3{
	margin: 22px 0 0 0;
}
.block1_button{
	margin-top: 25px;
	box-sizing: border-box;
	grid-column: 2/3;
	grid-row: 2/3;
	font-family: 'Inter-Bold';
	width: 295px;
	height: 51px;
	border-radius: 10px;
	font-size: 18px;
	line-height: 29px;
	color:#B7000D;
	border: 2px solid #B7000D;
	padding: 9px 20px;
	text-decoration: none;
	transition: all 0.15s ease;
}
.block1_button:hover{
	color: #840009;
	border: 2px solid #840009;
}
.block2_button{
	grid-column: 2/3;
	grid-row: 2/3;
	margin-top: 20px;
	width: 260px;
	font-family: 'Inter-Bold';
	font-size: 18px;
	line-height: 26px;
	text-decoration: none;
	color: #3D3D3D;
	background: url(../images/UnionButton.svg) left no-repeat;
	padding-left: 24px;
	background-position-y: 4px;
}
.block2_button span{
	border-bottom: 2px solid #000000;
	display: inline-block;
}
.block2_button:hover span{
	border-bottom: 2px solid #D0000F;
}
.advantages_block1::before{
	content: url(../images/CH.svg);
	position: relative;
	display: inline-block;
	top: 5px;
	right: 5px;
}
.advantages_block1{
	right: -5px;
	position: relative;
	width: 620px;
}
.bankAccount_block2 .bankAccount_text::before{
	content: url(../images/plusButton.svg);
	position: relative;
	display: inline-block;
	right: 5px;
}
.bankAccount_block2 .bankAccount_text{
	right: -5px;
	position: relative;
}

