/*MainScreen*/
.container{
	width: 100%;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.wrap_mainScreen{
	display: -ms-grid;
	display: grid;
	width:1120px;
	-ms-grid-columns:374px 73px 713px;
	grid-template-columns:374px 713px;
	grid-column-gap:73px;
	margin-top:55px;
}
.mainScreen_title{
	font-family: 'Montserrat-Bold';
	color: #3D3D3D;
	font-size: 40px;
	line-height: 56px;
	-webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	        font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	width: 285px;
	margin:0;
	-ms-grid-row:1;
	-ms-grid-row-span:1;
	grid-row:1/2;
}
.mainScreen_subtitle{
	font-size: 16px;
	line-height: 26px;
	width: 346px;
	font-weight:400;
	margin:0;
	-ms-grid-row:2;
	-ms-grid-row-span:1;
	grid-row:2/3;
	padding-top: 31.81px;
}
.mainScreen_link{
	color: #3D3D3D;
	font-size: 16px;
	line-height: 19px;
	border-bottom: 1.5px dashed #B8B8B8;
	text-decoration: none;
	height: 30px;
}
.mainScreen_link:hover{
	border-bottom: 1.5px solid #D0000F;
}
#mainImage{
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2/3;
	-ms-grid-row:1;
	-ms-grid-row-span:5;
	grid-row:1/6;
	width: 713px;
	height: 414px;
	mix-blend-mode: multiply;
}
.link4, .link5{
	-ms-grid-column:1;
	-ms-grid-column-span:1;
	grid-column:1/2;
	-ms-grid-row:3;
	-ms-grid-row-span:1;
	grid-row:3/4;
	padding-top: 32.19px;
}
.link6, .link7{
	-ms-grid-column:1;
	-ms-grid-column-span:1;
	grid-column:1/2;
	-ms-grid-row:4;
	-ms-grid-row-span:1;
	grid-row:4/5;
	padding-top: 39.81px;
	z-index: 2;
}
.link5{
	margin-left: 203px;
}
.link7{
	margin-left: 165px;
	width: 123px;
}
.link4{
	width: 179px;
}
.link6{
	width: 129px;
}
.mountains{
	position: relative;
	left: -395px;
	height: 390px;
}
/*SettleGrow*/
.wrap_settleGrow{
	display: -ms-grid;
	display: grid;
	position: relative;
	top: -85px;
	width:1120px;
	height: 990px;
	-ms-grid-columns:480px 60px 570px;
	grid-template-columns:480px 570px;
	grid-column-gap:60px;
}
.settleGrow_title{
	font-family: 'Montserrat-Bold';
	color: #3D3D3D;
	font-size: 40px;
	line-height: 56px;
	-webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	        font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	margin: 0;
	width: 264px;
}
.settleGrow_item{
	font-family: 'Inter-Bold';
	font-size: 24px;
	line-height: 32px;
	color: #3D3D3D;
	margin: 0;
}
.settleGrow_text{
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	margin: 0;
	padding-top: 9px;
}
.settleGrow_img{
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
	width: 480px;
	height: 686px;
	z-index: 10;
}
.settleGrow_block{
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2/3;
	z-index: 10;
}
.grow_item1{
	padding-top: 33px;
}
.grow_item2, .grow_item3{
	padding-top: 40px;
}
.grow_text2{
	width: 528px;
}
.grow_text2{
	width: 495px;
}
.grow_download{
	font-size: 17px;
	line-height: 22px;
	text-decoration: none;
	color: #FFFFFF;
	width: 375px;
	height: 84px;
	border-radius: 8px;
	-webkit-backdrop-filter: blur(10px);
	        backdrop-filter: blur(10px);
	background: -o-linear-gradient(182.98deg, #D0000F 4.05%, #B4000D 95.03%);
	background: linear-gradient(267.02deg, #D0000F 4.05%, #B4000D 95.03%);
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 14px rgba(202, 0, 0, 0.25);
	        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 14px rgba(202, 0, 0, 0.25);
	padding: 31px 102.5px;
	position: relative;
	top: -106px;
	left: 50px;
}
