.wrap_profile{
	position: relative;
	top: -65px;
	display: flex;
	justify-content: center;
	width: 100%;
}
.account_prof{
	width: 1290px;
	margin-top:50px;
	display: grid;
	grid-template-columns:repeat(6, 1fr) 2fr 0.5fr 1fr;
	grid-column-gap: 65px;
}
.popo_logo{
	position: relative;
  top: -27px;
	grid-column: 1/2;
	color: #2C2C2C;
	font-size: 36px;
	display:flex;
	justify-content: left;
	font-weight:700;
}
.profile_header{
	margin-top:23px;
	height: 36px;
}
#documents_profile{
	grid-column: 3/4;
	font-weight: 400;
	font-size: 25px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid #808080;
}
#finances_profile{
	grid-column: 4/5;
	font-weight: 400;
	font-size: 25px;
	line-height: 18px;
	color: #000000;
	opacity:0.5;
	text-decoration: none;
	border-bottom: 1px solid #D0D0D0;
}
#clients_profile{
	grid-column: 5/6;
	font-weight: 400;
	font-size: 25px;
	line-height: 18px;
	color: #000000;
	opacity:0.5;
	text-decoration: none;
	border-bottom: 1px solid #D0D0D0;
}
#help_profile{
	grid-column: 6/7;
	font-weight: 400;
	font-size: 25px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid #D0D0D0;
}
.wrap_photo{
	grid-column: 8/9;
	margin-top:10px;
}
.profile_photo{
	width: 48px;
	height: 48px;
	position: relative;
	left: 45px;
}
.profile_name{
	grid-column: 9/10;
	font-weight: 400;
	font-size: 25px;
	line-height: 18px;
	color: #000000;
}
.profile_menu{
	width: 1290px;
	margin-top:10px;
	display: grid;
	grid-template-columns:0.2fr repeat(4, 1fr) 2fr 0.5fr 1fr 2fr ;
	grid-column-gap:10px;
	justify-items:center;
	grid-row: 2 / 3;
	height: 30px;
}
.wrap_profile_burger{
	grid-column: 1/2;
}
#profile_burger{
	width: 17px;
	height: 13px;
}
.menu{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #808080;
	text-decoration: none;
	border-bottom: 1px dashed #CCCCCC;
}
#date{
	color: #253238;
}
#everything{
	position: relative;
  left: 27px;
	color: #253238;
	border:none;
}
#favorites {
	position: relative;
	left: 20px;
}
#search{
	width: 235px;
	position: relative;
	left: 30px;
	height: 22px;
	top: 1px;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
	border-top: none;
	border-right: none;
	background-color: #e5e5e5;
	padding-bottom: 5px;
}
#search::placeholder {
	color: #808080;
}
#wait{
	position: relative;
	left: 41px;
}
#alphabet {
	position: relative;
  left: 4px;
}
#categories {
	position: relative;
	left: 24px;
}
#signed {
	position: relative;
	left: 44px;
}
.allDocuments {
	grid-row: 3 / 4;
	position: relative;
	top: 50px;
}
.adds {
	width: 200px;
	height: 271px;
	border: 5px solid #C4C4C4;
	box-sizing: border-box;
	padding: 117px 97px;
	display: grid;
	text-align: initial;
	justify-content: space-around;
	color: #000000;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
}
.add_inside {
  position: relative;
  left: -32px;
}
.wrap_choose {
	position: relative;
	display: grid;
	grid-template-columns: 80% 20%;
}
.choose_layout {
	position: relative;
	font-weight: 700;
	font-size: 32px;
	line-height: 45px;
	width: 590px;
	top: -54px;
}
.first_layout {
	width: 458.01px;
	height: 85.39px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -35px;
	background-color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	cursor: pointer;
}
.second_layout {
	width: 458.01px;
	height: 85.39px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -40px;
	background-color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	cursor: pointer;
}
.link_to_layOne, .link_to_layTwo {
	text-decoration: none;
}
.upload {
	text-decoration: none;
	height: 67px;
	width: 218px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -20px;
	left: 45px;
}
.upload_inside {
	width: 213px;
	height: 47px;
	background-color: #478ECC;
	border-radius: 8px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
