/*SwissCompanies*/
.wrap_SwissCompanies{
	width:1120px;
}
#background_swiss{
	position: relative;
	left: -400px;
	width: 1920px;
	height: 538px;
}
#logo_swiss{
	position: absolute;
	top: 57px;
	left: 92px;
	z-index: 4;
	height: 500px;
	mix-blend-mode: soft-light;
	opacity: 0.8;
}
.SwissCompanies_title{
	font-family: 'Montserrat-Bold';
	font-size: 60px;
	line-height: 84px;
	color: #3D3D3D;
	margin: 60px 0 28px 0;
}
.SwissCompanies_information{
	display: grid;
	grid-template-columns: 653px 241px;
	grid-column-gap: 176px;
	margin: 0 0 81px 0;
	height: 545px;
}
.SwissCompanies_question{
	font-size: 24px;
	line-height: 32px;
	font-family: 'Inter-Bold';
	color: #3D3D3D;
	margin: 0 0 20px 0;
}
.SwissCompanies_text{
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	grid-column: 1/2;
	width: 620px;
	margin: 0 0 20px 0;
}
.SwissCompanies_text_2{
	width: 600px;
	margin: 0;
}

.SwissCompanies_span{
	font-family: 'Inter-Bold';
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
}
.SwissCompanies_benefits{
	grid-column: 2/3;
	grid-row: 2/4;
}
.benefits_title{
	font-family: 'Montserrat-Bold';
	font-size: 16px;
	line-height: 26px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #3D3D3D;
	margin: 0 0 10px 0;
}
.benefits_1, .benefits_2, .benefits_3, .benefits_4,
.benefits_5, .benefits_6{
	width: 220px;
	margin: 0;
}
.icon-plus{
	display: inline-block;
    height: 1.25rem;
    margin-right: 20px;
    padding: 0 0.1875rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background: #FF0000;
}
.SwissCompanies_button1, .SwissCompanies_button2,
.SwissCompanies_button3{
	font-family: 'Inter-Bold';
	display: inline-block;
	font-size: 18px;
	line-height: 29px;
	color:#B7000D;
	padding: 9px 20px;
	border: 2px solid #B7000D;
	position: relative;
	border-radius: 10px;
	text-decoration: none;
	box-sizing: border-box;
	top: 15px;
}
.SwissCompanies_button1:hover,
.SwissCompanies_button2:hover,
.SwissCompanies_button3:hover{
	border: 2px solid #840009;
	color:#840009;
}
.SwissCompanies_button1{
	width: 203px;
   grid-column: 1/2;
   height: 52px;
}
.SwissCompanies_button2{
	grid-column: 1/2;
	width: 227px;
	top: -37px;
	left: 222px;
	height: 52px;
}
.SwissCompanies_button3{
	grid-column: 1/2;
    width: 182px;
    height: 52px;
    top: -89px;
    left: 469px;
}
.SwissCompanies_item{
	font-family: 'Inter-Bold';
	font-size: 24px;
	line-height: 32px;
	color: #3D3D3D;
	margin: 0 0 20px 0;
}

.SwissCompanies_table{
	border-collapse: collapse;
	margin: 51px 0 103px 0;
}
.table_column_none{
	background: none;
	border-top: none;
	border-left: none
}
.table_information{
	background:url(../images/Group\ 218.svg) center no-repeat;
	padding-left: 15px;
	position: absolute;
	height: 27px;
	width: 27px;
}
.table_column, .table_row{
	font-family: 'Inter-Bold';
	font-size: 18px;
	line-height: 26px;
	color: #3D3D3D;
	background: #F5F5F5;
	border: 1px solid #CCCCCC;
	padding: 22px 24px;
	white-space: nowrap;
	text-align: left;
	box-sizing: border-box;
}
.table_row{
	padding: 22px 20px;
	width: 241px;
	height: 84px;
}
.table_text{
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	border: 1px solid #CCCCCC;
	vertical-align: middle;
	text-align: left;
	color: #3D3D3D;
	padding-left: 23.96px;
	width: 290px;
}
.last_row .table_row{
	background: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    white-space: nowrap;
	 vertical-align: top;
}
.link_last_row1, .link_last_row2, .link_last_row3,
.link_last_row4, .link_last_row5, .link_last_row6,
.link_last_row7, .link_last_row8, .link_last_row9{
	display: block;
	position: relative;
	font-size: 15px;
	line-height: 24px;
	color: #3D3D3D;
	text-decoration: none;
	height: 22px;
	border-bottom: 1px solid #3D3D3D;
	margin-left: 23.96px;
}
.link_last_row1, .link_last_row4, .link_last_row7{
	right: -5px;
	margin: 28px 0 26px 23.96px;
}
.link_last_row1{
	width: 152px;
}
.link_last_row4{
	width: 130px;
}
.link_last_row7{
	width: 187px;
}
.link_last_row1::before{
	content: url(../images/Union22.svg);
	position: relative;
	display: inline-block;
	top: 6px;
	right: 5px;
}
.link_last_row1:hover, .link_last_row2:hover,
.link_last_row3:hover, .link_last_row4:hover,
.link_last_row5:hover, .link_last_row6:hover,
.link_last_row7:hover, .link_last_row8:hover,
.link_last_row9:hover{
	border-bottom: 1px solid #D0000F;
}
.link_last_row4::before{
	content: url(../images/Union22.svg);
	position: relative;
	display: inline-block;
	top: 6px;
	right: 5px;
}
.link_last_row7::before{
	content: url(../images/Union22.svg);
	position: relative;
	display: inline-block;
	top: 6px;
	right: 5px;
}
.link_last_row2, .link_last_row5, .link_last_row8{
	margin: 0 0 10px 23.96px;
	width: 105px;
}
.link_last_row3, .link_last_row6, .link_last_row9{
	width: 145px;
}
.packages{
	margin-top: 40px;
}
.first_row{
	display: grid;
	width: 1110px;
	height: 110px;
	grid-template-columns:  277px 278px 277px 278px;
}
.first_row_column2{
	grid-column: 2/3;
}
.first_row_column3{
	grid-column: 3/4;
}
.first_row_column4{
	grid-column: 4/5;
}
.last_row_column2, .last_row_column3, .last_row_column4,
.first_row_column2, .first_row_column3, .first_row_column4{
	align-self: center;
	text-align: center;
}
.packages_rates{
	font-size: 24px;
	line-height: 32px;
	font-family: 'Inter-Bold';
	color: #3D3D3D;
	margin: 0 0 11px 0;
}
.packages_price{
	font-size: 21px;
	line-height: 26px;
	font-family: 'Inter-Bold';
	color: #B8B8B8;
	margin: 0;
}
.row_grey, .row_white{
	box-sizing: border-box;
	height: 84px;
	display: flex;
	flex-wrap: wrap;
	background: #F9F9F9;
	text-align: center;
}
.row_white{
	background: #FFFFFF;
}
.packages_name{
	font-family: 'Inter-Bold';
	font-size: 18px;
	line-height: 26px;
	color: #3D3D3D;
	text-align: left;
	padding-left: 23px;
	margin: 0;
}
.packages_plus, .packages_minus{
	font-family: 'Inter-Bold';
	font-size: 36px;
	line-height: 26px;
	color: #11BD56;
}
.packages_minus{
	color: #D0000F;
}
.column_1, .column_2, .column_3,
.column_4{
	align-self: center;
	width: 277px;
}
.column_2, .column_4{
	width: 278px;
}
.last_row_packages{
	display: grid;
	grid-template-columns:  277px 278px 277px 278px;
	width: 1110px;
	height: 110px;
}
.packages_button1, .packages_button2, .packages_button3{
	font-family: 'Inter-Bold';
	display: inline-block;
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	padding: 9px 20px;
	border: 2px solid #B7000D;
	position: relative;
	border-radius: 10px;
	text-decoration: none;
	box-sizing: border-box;
	height: 50px;
}
.packages_button1{
	width: 207px;
}
.packages_button2{
	width: 217px;
}
.packages_button3{
	width: 225px;
}
.span_button{
	font-size: 21px;
	line-height: 26px;
}
.last_row_column2{
	grid-column: 2/3;
}
.last_row_column3{
	grid-column: 3/4;
}
.last_row_column4{
	grid-column: 4/5;
}
.additionally{
	margin-top: 81px;
	display: grid;
	grid-template-columns: 703px 333px;
	grid-column-gap: 74px;
}
.additionally .SwissCompanies_item{
	grid-column: 1/2;
}
.additionally_text{
	grid-column: 2/3;
	grid-row:2/3;
	width: 333px;
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	margin: 0;
}
.additionally_table{
	grid-column: 1/2;
}
.additionally_row_grey, .additionally_row_white{
	box-sizing: border-box;
	height: 84px;
	display: flex;
	flex-wrap: wrap;
	background: #F9F9F9;
	text-align: center;
}
.additionally_row_white{
	background: #FFFFFF;
}
.AT_column1, .AT_column2, .AT_column3{
	align-self: center;
	width: 233px;
}
.additionally_name{
	font-family: 'Inter-Bold';
	font-size: 18px;
	line-height: 26px;
	color: #3D3D3D;
	text-align: left;
	padding-left: 40px;
	margin: 0;
}
.additionally_price{
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	margin: 0;
}
.additionally_button, .additionally_button_buy{
	box-sizing: border-box;
	width: 143px;
	height: 31px;
	border: 1px solid #B8B8B8;
	border-radius: 5px;
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	text-decoration: none;
	padding: 5px 16px;
}
.additionally_button_buy{
	width: 101px;
}
.additionally_button span{
	font-size: 16px;
	line-height: 26px;
	font-family: 'Inter-Bold';
	color: #11BD56;
	padding-right: 5px;
}
.additionally_buy{
	font-family: 'Inter-Bold';
	display: inline-block;
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	padding: 9px 20px;
	border: 2px solid #B7000D;
	position: relative;
	border-radius: 10px;
	text-decoration: none;
	box-sizing: border-box;
	height: 50px;
	width: 207px;
	top:20px;
}
.additionally_buy:hover{
	border: 2px solid #840009;
	color:#840009;
}
.packages_button1:hover,
.packages_button2:hover,
.packages_button3:hover,
.additionally_buy:hover{
	border: 2px solid #840009;
}
.item_center{
	margin: 84px 0 20px 0;
	font-family: 'Inter-Bold';
	font-size: 21px;
	line-height: 34px;
	color: #3D3D3D;
	text-align: center;
}
.text_center{
	margin: 0 auto;
	margin-bottom: 133px;
	width: 756px;
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	text-align: center;
}
