/*Error*/
.container_error{
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	background: #D0000F;
	margin-top: -3px;
}
.wrap_error{
	margin:119px 0 349px 0;
	width:1120px;
}
.error_title{
	font-family: 'Montserrat-Bold';
	margin: 0 0 30px 0;
	font-size: 40px;
	line-height: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #F3F3F3;
	width: 448px;
}
.error_subtitle{
	font-size: 16px;
	line-height: 26px;
	color: #F3F3F3;
	margin: 0 0 23px 0;
	width: 398px;
}
.error_button{
	margin: 0;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 26px;
	color: #F3F3F3;
	height: 36px;
	border-bottom: 1px solid #FFFFFF;
}

/*InvestmentStart*/
.wrap_investment, .wrap_investment_investor{
	width:1120px;
}
#background_investment{
	position: relative;
	left: -400px;
	width: 1920px;
	height: 538px;
}
#logo_investment{
	position: absolute;
	top: 57px;
	left: 92px;
	z-index: 4;
	height: 500px;
	mix-blend-mode: soft-light;
	opacity: 0.8;
}
.investment_start_title{
	font-family: 'Montserrat-Bold';
	font-size: 60px;
	line-height: 84px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #3D3D3D;
	margin: 40px 0 17px 0;
}
.investment_start_text{
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	margin: 20px 0 0 0;
	width: 903px;
}
.investment_information{
	margin: 50px 0 0 0;
	display: grid;
	grid-template-columns: 397px 345px;
	grid-column-gap: 93px;
}
.information_startups_title, .information_investors_title{
	font-family: 'Inter-Bold';
	font-size: 24px;
	line-height: 32px;
	color: #3D3D3D;
	margin: 0 0 4px 0;
}
.information_startups_text, .information_investors_text,
.information_startups_text2{
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	margin: 15px 0 0 0;
}
.information_startups_text2{
	font-style: italic;
}
.investment_start_btn1, .investment_start_btn2{
	text-decoration: none;
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;
	line-height: 26px;
	border-radius: 10px;
	height: 51.12px;
	padding: 11px 25.69px;
}
.investment_start_btn1{
	margin: 60px 0 0 0;
	background: #D0000F;
	color: #FFFFFF;
	width: 158.38px;
}
.investment_start_btn2{
	margin: 60px 0 0 17px;
	border: 1px solid #000000;
	color: #3D3D3D;
	width: 114.38px;
}
.investment_text{
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	width: 348px;
	margin: 89px 0 0 0;
}
.investment_registration{
	display: grid;
	grid-template-columns: 689.5px 243px;
	grid-template-rows: 398px;
	grid-column-gap: 65px;
	margin: 31px 0 86px 0;
	height: 398px;
}
.investment_registration_text2{
	position: relative;
	top: -345px;
	grid-column: 2/3;
	font-size: 16px;
	line-height: 26px;
	color: #B8B8B8;
	margin: 0;
}
.start_checkbox, .investor_checkbox,
.investor_checkbox_2, .start_checkbox_2{
	color: #3D3D3D;
	font-size: 16px;
	line-height: 26px;
	margin: 0;
}
.investor_checkbox, .start_checkbox_2{
	color: #B8B8B8;
}
.start_checkbox, .investor_checkbox_2{
	font-family: 'Inter-Bold';
}
.investment_box, .investor_box{
	position: relative;
	display: inline-block;
	width: 45px;
	height: 19px;
	background: #EFEFEF;
	border-radius: 47px;
	margin: 0 20px;
}
.registration_check, .registration_check_2{
	visibility: hidden;
}
.checkbox_label, .checkbox_label_2{
	display: block;
	width: 16px;
	height: 16px;
	background: #3D3D3D;
	border-radius: 50%;
	position: absolute;
	top: 1.5px;
	left: 3px;
	transition: all 0.4s ease;
}
.registration_check:checked + .checkbox_label{
	left: 26px;
}
.registration_check_2:checked + .checkbox_label_2{
	left: 26px;
}
.registration_name, .registration_company,
.registration_phone, .registration_mail, .registration_info{
	position: relative;
	display: block;
	font-family: 'Inter-Regular';
	background: #F3F3F3;
	padding: 8px 0 0 22px;
	font-size: 18px;
	line-height: 29px;
	color: #808080;
	border: none;
	outline: none;
}
.registration_company, .registration_phone,
.registration_mail, .registration_name{
	padding: 8px 63px 10px 22px;
}
.registration_name{
	margin: 30px 0 0 0;
}
.registration_company{
	top: -47px;
   left: 354.5px;
}
.registration_phone{
	top: -27px;
}
.registration_mail{
	top: -74px;
	left: 354.5px;
}
.registration_info{
	padding: 8px 413px 73px 22px;
	top: -54px;
}
.registration_button{
	box-sizing: border-box;
	margin: 20px 0 0 0;
	width: 98px;
	height: 47px;
	background: #F3F3F3;
	font-size: 18px;
	line-height: 29px;
	color: #808080;
	padding: 8px 22px;
	position: relative;
	top: -55px;
	border: 0;
}
.investment_registration_text{
	position: relative;
	grid-column: 1/2;
	top: -87px;
	left: 117px;
	width: 201px;
	font-size: 12px;
	line-height: 19px;
	color: #B8B8B8;
}
.investment_registration form{
	grid-column: 1/2;
}
.investment_registration_text a{
	text-decoration: none;
	height: 38px;
	border-bottom:1px solid #B8B8B8;
	color: #B8B8B8
}
.investment_investor_title{
	font-family: 'Montserrat-Bold';
	font-size: 60px;
	line-height: 84px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #3D3D3D;
	margin: 39px 0 23px 0;
}
.investment_investor_text{
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	margin: 0 0 40px 0;
	width: 600px;
}
.investor_name, .investor_mail,
.investor_info{
	position: relative;
	display: block;
	font-family: 'Inter-Regular';
	background: #F3F3F3;
	padding: 8px 63px 10px 22px;
	font-size: 18px;
	line-height: 29px;
	color: #808080;
	border: none;
	outline: none;
}
.investor_name{
	margin: 30px 0 0 0;
}
.investor_mail, .investor_info, .investor_button{
	margin: 20px 0 0 0;
}
.investor_button{
	box-sizing: border-box;
	width: 98px;
	height: 47px;
	background: #F3F3F3;
	font-size: 18px;
	line-height: 29px;
	color: #808080;
	padding: 8px 22px;
	position: relative;
	border: 0;
}
.investor_registration_text{
	position: relative;
	top: -42px;
	left: 117px;
	width: 201px;
	font-size: 12px;
	line-height: 19px;
	color: #B8B8B8;
	margin: 0;
}
.investor_registration_text a{
	text-decoration: none;
	height: 38px;
	border-bottom:1px solid #B8B8B8;
	color: #B8B8B8
}