/*TaxLegal*/
.wrap_taxLegal{
	width:1120px;
	display: grid;
	grid-template-columns: 622px 203px;
	grid-column-gap:195px;
}
#background_tax{
	position: relative;
	left: -400px;
	width: 1920px;
	height: 538px;
}
#logo_tax{
	position: absolute;
	top: 57px;
	left: 92px;
	z-index: 4;
	height: 500px;
	mix-blend-mode: soft-light;
	opacity: 0.8;
}
.taxLegal_title{
	font-family: 'Montserrat-Bold';
	font-size: 60px;
	line-height: 84px;
	color: #3D3D3D;
	grid-row: 2/3;
	grid-column: 1/2;
	margin: 60px 0 31px 0;
}
.taxLegal_subtitle{
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	width: 620px;
	grid-row: 3/4;
	grid-column: 1/2;
	margin: 0 0 40px 0;
}
.taxLegal_button{
	box-sizing: border-box;
	width: 203px;
	height: 52px;
	border-radius: 10px;
	font-size: 18px;
	line-height: 29px;
	text-decoration: none;
	color:#B7000D;
	border: 2px solid #B7000D;
	padding: 9px 24px;
	grid-row: 3/4;
	grid-column: 2/3;
	transition: all 0.15s ease;
}
.taxLegal_button:hover{
	color: #840009;
	border: 2px solid #840009;
}
.tax_text{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	margin: 0 0 15px 0;
	width: 585px;
}
.section_title1, .section_title2, .section_title3{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	border-bottom: 1px solid #D0000F;
	height: 27px;
	margin: 0;
}
.taxLegal_section1{
	box-sizing: border-box;
	margin: 30px 0;
	width: 1110px;
	height: 66px;
	background: #F3F3F3;
	padding: 25px 573px 25px 28px;
	grid-column: 1/3;
}
.section_title1{
	grid-column: 1/2;
	width: 210px;
}
.section1_text{
	margin: 0;
}
.section_title1:before{
	content: '+';
	position: relative;
	top: -1px;
	padding-right: 4px;
}
.section_title1:active::before{
	content: '-';
}
.taxLegal_section2{
	box-sizing: border-box;
	padding: 21px 0px 33px 28px;
	width: 1110px;
	height: 770px;
	background: #F3F3F3;
	grid-column: 1/3;
	margin: 30px 0;
}
.section_title2{
	width: 141px;
}
.section_title2:before{
	content: '+';
	position: relative;
	top: -1px;
	padding-right: 4px;
}
.section_title2:active::before{
	content: '-';
}
.section2_item1, .section2_item2, .section3_item{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	font-family: 'Inter-Bold';
	margin: 0 0 15px 0;
}
.section2_item2{
	margin-top: 30px;
}
.taxLegal_section3{
	box-sizing: border-box;
	padding: 21px 0px 33px 28px;
	width: 1110px;
	height: 500px;
	background: #F3F3F3;
	grid-column: 1/3;
	margin: 30px 0 60px 0;
}
.section_title3{
	width: 164px;
}
.section_title3:before{
	content: '+';
	position: relative;
	top: -1px;
	padding-right: 4px;
}
.section_title3:active::before{
	content: '-';
}


