/*BusinessDevelopment*/
.wrap_development{
	width:1120px;
}
.business_development{
	display: grid;
	margin: 55px 0 0 0;
	grid-template-columns: 476px 535px;
	grid-column-gap: 99px;
}
.business_development_title{
	grid-column: 1/2;
	font-family: 'Montserrat-Bold';
	font-size: 40px;
	line-height: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #3D3D3D;
	margin: 0;
	width: 297px;
}
.business_development_subtitle{
	grid-column: 1/2;
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	width: 476px;
	margin: 30px 0 0 0;
}
.business_development_img{
	grid-column: 2/3;
	grid-row:1/4;
}
.due_diligence{
	margin: 75px 0 0 0;
}
.due_diligence_title, .planning_title,
.innovation_title, .strategy_title,
.legal_title, .marketing_title,
.management_title, .investments_title{
	font-family: 'Montserrat-Bold';
	font-size: 40px;
	line-height: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #3D3D3D;
	width: 387px;
	margin: 0;
}
.marketing_title{
	width: 307px;
}
.due_diligence_subtitle{
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	margin: 30px 0 0 0;
	width: 566px;
}
.due_diligence_text{
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	margin: 40px 0 0 0;
}
.due_diligence_item{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	border-bottom: 1px dashed #B8B8B8;
	display:inline-block;
	height: 27px;
	margin: 24px 0 0 28px;
}
.due_diligence_block1, .due_diligence_block2,
.due_diligence_block3, .due_diligence_block4{
	box-sizing: border-box;
	padding: 21px 0 44px 28px;
	background: #F3F3F3;
	width: 1110px;
	height: 930px;
	margin: 31px 0 15px 0;
}
.due_diligence_block2{
	height: 160px;
}
.due_diligence_block3{
	height: 180px;
}
.due_diligence_block4{
	height: 125px;
}
.due_diligence_block1_title, .block1_columns_title,
.due_diligence_block1_text, .due_diligence_block_text{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	margin: 0;
}
.block1_colunns{
	margin: 33px 0 0 0;
	display: grid;
	grid-template-columns: repeat(3, 238px);
	grid-column-gap:80px;
}
.block1_columns_title{
	font-family: 'Inter-Bold';
	margin: 0 0 15px 0;
}
.block1_column1 ul{
	padding-left: 1.1875rem;
}
.block1_column1 li{
	padding: 0 0 15px 0;
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
}
.block1_column2 ul{
	padding-left: 1.1875rem;
}
.block1_column3 ul{
	padding-left: 1.1875rem;
}
.block1_column2 li{
	padding: 0 0 15px 0;
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
}
.due_diligence_block1_text{
	margin: 30px 0 0 0;
	width: 594px;
}
.due_diligence_block1 ol{
	padding-left: 1.1875rem;
}
.due_diligence_block1 li{
	padding: 0 0 15px 0;
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
}
.due_diligence_block_text{
	width: 597px;
}
.planning_and_projecting{
	margin: 75px 0 0 0;
}
.planning_subtitle, .innovation_subtitle, .strategy_subtitle,
.legal_subtitle, .marketing_subtitle, .management_subtitle{
	font-size: 16px;
	line-height: 26px;
	color: #3D3D3D;
	margin: 30px 0 0 0;
	width: 582px;
}
.marketing_subtitle{
	width: 525px;
}
.management_subtitle{
	width: 501px;
}
.legal_subtitle{
	width: 480px;
}
.planning_info{
	box-sizing: border-box;
	font-size: 13px;
	line-height: 22px;
	color: #3D3D3D;
	padding: 13px 3px 15px 20px;
	border: 1px solid #B8B8B8;
	width: 290px;
	height: 116px;
	position: absolute;
	margin: -70px 0 0 756px; 
}
.planning_item, .strategy_item,
.legal_item, .marketing_item{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	display: inline-block;
	height: 27px;
	border-bottom: 1px dashed #B8B8B8;
	margin: 24px 0 0 28px;
}
.planning_block1, .planning_block2, .planning_block3,
.strategy_block1, .strategy_block2, .strategy_block3,
.strategy_block4, .strategy_block5, .legal_block1,
.legal_block2, .legal_block3, .legal_block4{
	box-sizing: border-box;
	padding: 21px 0 44px 28px;
	background: #F3F3F3;
	width: 1110px;
	margin: 31px 0 15px 0;
}
.planning_and_projecting ol,
.strategy ol{
	padding-left: 1.1875rem;
}
.strategy_block2 ul{
	padding: 0 0 0 48px;
	margin-left: 30px;
}
.planning_and_projecting li,
.strategy li{
	padding: 0 0 15px 0;
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	width: 597px;
}
.planning_block_item, .planning_and_projecting_text,
.strategy_block_text{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	margin: 0;
}
.planning_block_item{
	font-family: 'Inter-Bold';
}
.planning_and_projecting_text{
	width: 583px;
}
.innovation, .strategy, .legal,
.marketing_and_sales, .management{
	margin: 75px 0 0 0;
}
.investments{
	margin: 75px 0 120px 0;
}
.innovation ol{
	padding-left: 1.1875rem;
}
.innovation li{
	margin: 0 0 0 20px;
	padding: 0 0 15px 0;
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
}
.strategy_block_text{
	width: 597px;
}
.strategy_block1{
	height: 315px;
}
.strategy_block3{
	height: 315px;
}
.strategy_block4{
	height: 200px;
}
.st_1{
	margin: 10px 0 10px 45px;
}
.legal ol{
	padding-left: 0;
}
.legal li{
	margin: 0 0 0 20px;
	padding: 0 0 15px 0;
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
}
.legal_button{
	text-decoration: none;
	box-sizing: border-box;
	background: #D0000F;
	border-radius: 10px;
	width: 230px;
	height: 52px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 26px;
	padding: 13px 25px;
	position: absolute;
	margin: -72px 0 0 715px;
}
.marketing_block1,.marketing_block2,
.marketing_block3, .marketing_block4,
.marketing_block5{
	box-sizing: border-box;
	padding: 21px 0 44px 28px;
	background: #F3F3F3;
	width: 1110px;
	margin: 31px 0 15px 0;
}
.marketimg_text, .management_text, .investments_text{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	width: 514px;
	margin: 0;
}
.management_text, .investments_text{
	margin: 25px 0 0 24px;
	width: 458px;
}
.legal_block3{
	height: 170px;
}
.legal_block4{
	height: 270px;
}
.legal_block2, .legal_block1{
	height: 340px;
}
.strategy_block5 .strategy_block_text{
	margin: 0 0 10px 0;
}
.planning_block1{
	height: 210px;
}
.planning_block2{
	height: 280px;
}
.planning_block3{
	height: 230px;
}
.due_diligence_item:active,
.planning_item:active,
.strategy_item:active,
.legal_item:active,
.marketing_item:active{
	border-bottom: 1px solid #D0000F;
}
.due_diligence_item:before,
.planning_item:before,
.strategy_item:before,
.legal_item:before,
.marketing_item:before{
	content: '+';
	position: relative;
	top: -1px;
	padding-right: 4px;
}
.due_diligence_item:active::before,
.planning_item:active::before,
.strategy_item:active::before,
.legal_item:active::before,
.marketing_item:active::before{
	content: '-';
}