@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../../fonts/Montserrat-Regular.eot');
	src: url('../../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Montserrat-Regular.woff') format('woff'),
	url('../../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope-Regular';
	src: url('../../fonts/Manrope-Regular.eot');
	src: url('../../fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Manrope-Regular.woff') format('woff'),
	url('../../fonts/Manrope-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	border: 0;
}
