.wrap_animation {
  position: relative;
  top: 200px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(7, 1fr);
  height: 900px;
  width: 80%;
  left: 12%;
}
.wrap_img1 {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 8;
  overflow: hidden;
  width: 1168px;
  height: 892px;
}
.grey_square {
  position: relative;
  top: 26px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  width: 157px;
  height: auto;
  margin-bottom: 35px;
  text-decoration: none;
  color: #2C2C2C;
  padding: 11px 34px;
  transition: 0.3s;
}
.white_square {
  background-color: #ffffff;
  transition: 0.3s;
  border-radius: 5px;
}
.all_images {
  position: relative;
  width: 1168px;
  height: 937px;
  transition: 0.2s;
}
.wrap_img2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  transition: 0.1s;
}
.slide1 {
  transform: translateX(-1150px);
  transition: 0.1s;
}
.slide2 {
  transform: translateX(-2300px);
  transition: 0.1s;
}
.slide3 {
  transform: translateX(-3450px);
  transition: 0.1s;
}
.slide4 {
  transform: translateX(-4600px);
  transition: 0.1s;
}
.slide5 {
  transform: translateX(-5750px);
  transition: 0.1s;
}
.slide6 {
  transform: translateX(-6900px);
  transition: 0.1s;
}

.dialog3_message1{grid-area:dialog3_message1}
.dialog3_message2{grid-area:dialog3_message2}
.dialog3_message3{grid-area:dialog3_message3}
.mes__name1{grid-area:mes__name1}
.mes__name2{grid-area:mes__name2}
.mes__name3{grid-area:mes__name3}

.dialog3{
	position:relative;
	margin-top:400px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:150px 15px 110px 15px 110px 15px;
	grid-row-gap:10px;
	grid-template-areas:
		". dialog3_message1 . ."
		". mes__name1 . ."
		". . dialog3_message2 . "
		". . mes__name2 ."
		". dialog3_message3 . ."
		". mes__name3 . ."
}

.dialog3_message1{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:150px 15px;
	grid-row-gap:10px;
	position: relative;
  width: 328px;
  height: 132px;
  background-color: #C4C4C4;
  border-radius: 30px 30px 30px 0;
  grid-template-areas:
		"dialog3_message1"
		"mes__name1"
}

.dialog3_mes__text1{
	font-size:18px;
<<<<<<< HEAD
	color:#1E1E1E;
=======
	color: #1e1e1e;
>>>>>>> 7ec8fb883dde2763e675a4f36895486b9fa8cca8
	line-height:30px;
	padding:2px 43px 23px;
	justify-items: start;
	align-content:center;
	position: absolute;
}

.mes__name1{
  position: relative;
<<<<<<< HEAD
  left:-100px;
=======
  top: -25px;
  left: 0;
>>>>>>> 7ec8fb883dde2763e675a4f36895486b9fa8cca8
  font-size:18px;
  color:#000000;
  line-height:25px;
  justify-self: start;
}

.dialog3_message2{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:110px 15px;
	grid-row-gap:10px;
  position: relative;
  left: 100px;
  margin-top: 15px;
  width: 290px;
  height: 90px;
  background-color: #0669DD;
  border-radius: 30px 30px 0 30px;
  grid-template-areas:
		"dialog3_message2"
		"mes__name2"
}

.dialog3_mes__text2{
  font-size: 18px;
  color: #F6F6F6;
  line-height: 25px;
  padding: 13px 0 29px 27px;
  justify-items: end;
  align-content:center;
  position: absolute;
}

.mes__name2{
	font-size:18px;
<<<<<<< HEAD
	color:#000000;
    position: relative;
	color:#000000;
=======
	color:#808080;
  position: relative;
  top: -25px;
  left: -26px;
	color:#808080;
>>>>>>> 7ec8fb883dde2763e675a4f36895486b9fa8cca8
	line-height:25px;
  justify-self: end;
}

.dialog3_message3{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:110px 15px;
	grid-row-gap:10px;
	position: relative;
	margin-top: 25px;
  position: relative;
  width: 328px;
  height: 107px;
  background-color: #C4C4C4;
  border-radius: 30px 30px 30px 0;
    grid-template-areas:
		"dialog3_message3"
		"mes__name3"
}

.mes__name3{
  position: relative;
  top: -10px;
  font-size:18px;
  color:#000000;
  line-height:25px;
  justify-self: start;
}
