/*About*/
.wrap_about{
	width:1120px;
}
#background_about{
	position: relative;
	left: -400px;
	width: 1920px;
	height: 538px;
}
#logo_about{
	position: absolute;
	top: 57px;
	left: 92px;
	z-index: 4;
	height: 500px;
}
.about_header_block{
	position: absolute;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 513px;
	height: 339px;
	top: 162px;
	left: 950px;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)), url(../images/Rectangle82.png), #F3F3F3;
}
.header_block_title{
	font-family: 'Montserrat-Bold';
	padding: 40px 0 0 35px;
	font-size: 40px;
	line-height: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #3D3D3D;
	margin: 0;
}
.header_block_subtitle{
	padding-left: 35px;
	font-size: 16px;
	line-height: 26px;
	width: 443px;
	margin: 30px 0 21px 0;
}
.header_block_link1, .header_block_link2, .header_block_link3{
	display: inline-block;
	height: 36px;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	text-decoration: none;
	border-bottom: 1px dashed #FFFFFF;
	margin: 0;
	width: 42px;
}
.header_block_link1{
	margin-left: 35px;
}
.header_block_link2{
	margin-left: 38px;
	width: 63px;
}
.header_block_link3{
	margin-left: 38px;
	width: 61px;
}
.header_block_link1:hover,
.header_block_link2:hover,
.header_block_link3:hover{
	border-bottom: 1px dashed #D0000F;
}
.about_title{
	font-size: 60px;
	line-height: 84px;
	font-family: 'Montserrat-Bold';
	color: #3D3D3D;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	margin: 39px 0 35px 0;
}
.about_text{
	font-size: 16px;
	line-height: 26px;
	width: 704px;
	margin: 0;
	color: #3D3D3D;
}
.about_information{
	margin: 77px 0 0 0 ;
	display: grid;
	grid-template-columns: 282px 255px 276px;
	grid-column-gap: 90px;
}
.information_block_title{
	font-family: 'Inter-Bold';
	font-size: 21px;
	line-height: 26px;
	margin: 0 0 16px 0;
}
.information_block_text{
	font-size: 16px;
	line-height: 26px;
	width: 258px;
	margin: 0 0 20px 0;
}
.about_information_block3 .information_block_text{
	width: 276px;
}
.about_benefits{
	margin: 116px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about_benefets_text{
	width: 213px;
	font-size: 16px;
	line-height: 26px;
	padding-left: 20px;
	margin: 0;
	display: inline-block;
	position: relative;
}
.benefits1_row1{
	margin-bottom: 85px;
}
.benefits2_row1 .about_benefets_text{
	width: 250px;
}
.benefits3_row1 .about_benefets_text{
	width: 180px;
}
.benefits1_row1, .benefits2_row1, .benefits3_row1,
.benefits1_row2, .benefits2_row2{
	flex: 0 0 33.3333333333%;
   max-width: 33.3333333333%;
	display: flex;
	justify-content: center;
}
.about_team_title{
	font-size: 40px;
	line-height: 48px;
	margin: 157px 0 0 0;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #3D3D3D;
	font-family: 'Montserrat-Bold';
}
.about_team{
	display: grid;
	margin: 50px 0 0 0;
	grid-template-columns: repeat(3, 326px);
	grid-template-rows: 1390px 1090px;
	grid-column-gap: 65px;
	grid-row-gap: 91px;
}
.person_name{
	font-size: 24px;
	line-height: 32px;
	font-family: 'Inter-Bold';
	color: #3D3D3D;
	margin: 28px 0 0 0
}
.person_position{
	font-size: 24px;
	line-height: 26px;
	color: #3D3D3D;
	margin: 5px 0 17px 0;
}
.person_text, .person_info, .person_info_1{
	font-size: 14px;
	line-height: 22px;
	color: #3D3D3D;
	margin: 0;
	width: 293px;
}
.person_info{
	margin: 0 0 20px 0;
}
.person_info_1{
	margin: 50px 0 20px 0;
}
.person_button{
	display: none;
}
.about_partners_block{
	margin: 157px 0 311px 0;
}
.partners_block_title{
	font-size: 40px;
	line-height: 48px;
	margin:  0 0 50px 0;
	font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on, 'case' on;
	color: #3D3D3D;
	font-family: 'Montserrat-Bold';
}
.partners_country{
	display: inline-block;
	height: 38px;
	font-size: 24px;
	line-height: 26px;
	border-bottom: 2px dashed #B8B8B8;
	margin: 0 58px 0 0;
}
.partners_country:hover{
	border-bottom: 2px solid #D0000F;
}
.partners_block_map{
	position: relative;
	margin: 106px 0 0 0;
	left: -200px;
}
.map_location_1{
	position: absolute;
	display: block;
	top: 100px;
	left: 780px;
}
.map_location_2{
	position: absolute;
	display: block;
	top: 50px;
	left: 980px;
}
.map_location_3{
	position: absolute;
	display: block;
	top: 240px;
	left: 1035px;
}
.map_location_4{
	position: absolute;
	display: block;
	top: 280px;
	left: 1200px;
}