/*AMLcontrol*/
.wrap_amlControl{
	width:1120px;
	display: grid;
}
#background_aml{
	position: relative;
	left: -400px;
	width: 1920px;
	height: 538px;
}
#logo_aml{
	position: absolute;
	top: 57px;
	left: 92px;
	z-index: 4;
	height: 500px;
	mix-blend-mode: soft-light;
	opacity: 0.8;
}
.amlControl_title{
	font-family: 'Montserrat-Bold';
	font-size: 60px;
	line-height: 84px;
	color: #3D3D3D;
	margin: 60px 0 31px 0;
}
.amlControl_subtitle{
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	width: 622px;
	margin: 0 0 40px 0;
}
.amlControl_text{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	width: 575px;
	margin: 0 0 15px 0;
}
.aml_section_item{
	font-family: 'Inter-Bold';
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	margin: 30px 0 15px 0;
}
.aml_section_item2{
	margin-top: 60px;
}
.amlControl_span{
	font-family: 'Inter-Bold';
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
}
.amlControl_section1_title, .amlControl_section2_title,
.amlControl_section3_title, .amlControl_section4_title{
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	border-bottom: 1px dashed #B8B8B8;
	height: 27px;
	margin: 0;
}
.amlControl_section1, .amlControl_section2,
.amlControl_section3, .amlControl_section4{
	box-sizing: border-box;
	width: 1110px;
	padding: 30px 0 30px 28px;
	background: #F3F3F3;
	margin: 30px 0;
}
.amlControl_section1{
	height: 470px;
}
.amlControl_section1_title{
	width: 229px;
}
.amlControl_section1_title:active{
	border-bottom: 1px solid #D0000F;
}
.amlControl_section2_title:active{
	border-bottom: 1px solid #D0000F;
}
.amlControl_section3_title:active{
	border-bottom: 1px solid #D0000F;
}
.amlControl_section4_title:active{
	border-bottom: 1px solid #D0000F;
}
.amlControl_section1_button,.amlControl_section2_button2,
.amlControl_section4_button2 {
	box-sizing: border-box;
	width: 203px;
	height: 52px;
	font-family: 'Inter-Bold';
	font-size: 18px;
	line-height: 29px;
	color:#B7000D;
	border: 2px solid #B7000D;
	padding: 9px 24px;
	transition: all 0.15s ease;
	top: 25px;
	position: relative;
	border-radius: 10px;
	text-decoration: none;
}
.amlControl_section1_button:hover{
	color: #840009;
	border: 2px solid #840009;
}
.amlControl_section1_title:before{
	content: '+';
	position: relative;
	top: -1px;
	padding-right: 4px;
}
.amlControl_section1_title:active::before{
	content: '-';
}
.amlControl_section2{
	height: 227px;
}
.amlControl_section2_title{
	width: 194px;
}
.amlControl_section2_button, .amlControl_section4_button{
	box-sizing: border-box;
	width: 218.51px;
	height: 52px;
	font-family: 'Inter-Bold';
	font-size: 18px;
	line-height: 29px;
	color:#B7000D;
	border: 2px solid #B7000D;
	padding: 9px 24px;
	transition: all 0.15s ease;
	top: 25px;
	border-radius: 10px;
	text-decoration: none;
	position: relative;
}
.amlControl_section2_button:hover{
	color: #840009;
	border: 2px solid #840009;
}
.amlControl_section2_button2:hover{
	color: #840009;
	border: 2px solid #840009;
}
.amlControl_section2_button2{
	margin-left: 25px;
}
.amlControl_section2_title:before{
	content: '+';
	position: relative;
	top: -1px;
	padding-right: 4px;
}
.amlControl_section2_title:active::before{
	content: '-';
}
.amlControl_section3{
	height: 510px;
}
.amlControl_section3_title{
	width: 231px;
}
.amlControl_section3_title:before{
	content: '+';
	position: relative;
	top: -1px;
	padding-right: 4px;
}
.amlControl_section3_title:active::before{
	content: '-';
}
.amlControl_section4{
	height: 1315px;
}
.amlControl_section4_title{
	width: 105px;
}
.amlControl_section4_title:before{
	content: '+';
	position: relative;
	top: -1px;
	padding-right: 4px;
}
.amlControl_section4_title:active::before{
	content: '-';
}
.amlControl_section4_button2{
	margin-left: 25px;
}
.amlControl_section4_button:hover{
	color: #840009;
	border: 2px solid #840009;
}
.amlControl_section4_button2:hover{
	color: #840009;
	border: 2px solid #840009;
}
.amlControl_section5{
	margin: 20px 0 50px 0;
	width: 575px;
	height: 170px;
	padding-left: 28px;
}





