@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../../fonts/Montserrat-Regular.eot');
	src: url('../../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Montserrat-Regular.woff') format('woff'),
	url('../../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../../fonts/Montserrat-Bold.eot');
	src: url('../../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Montserrat-Bold.woff') format('woff'),
	url('../../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter-Regular';
	src: url('../../fonts/Inter-Regular.eot');
	src: url('../../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Inter-Regular.woff') format('woff'),
	url('../../fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter-Bold';
	src: url('../../fonts/Inter-Bold.eot');
	src: url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Inter-Bold.woff') format('woff'),
	url('../../fonts/Inter-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Inter-Regular';
	padding: 0;
	margin: 0;
	border: 0;
}
/*Header*/
.wrap_header{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.header{
	display: -ms-grid;
	display: grid;
	width:1120px;
	height: 67px;
	z-index: 10;
}
.red_logo{
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
	width: 227px;
	height: 67px;
	background: #D0000F;
	mix-blend-mode: normal;
	border-radius: 0px 0px 5px 5px;
}
#logo{
	padding-left: 25px;
	padding-top: 12.75px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.header_link{
	font-family: 'Inter-Regular';
	position: relative;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #3D3D3D;
	border-bottom: 1px solid #B8B8B8;
	text-decoration: none;
	height: 28px;
	padding-top: 21px;
}
.link1{
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2/3;
	margin-left: 25px;
	border-bottom: 1px dashed #B8B8B8;
	background: url(../images/Rectangle\ 7.svg) left no-repeat;
	background-position-y: 29px;
	padding-left: 14px;
	padding-bottom: 9px;
}
.link1:hover{
	background: #F3F3F3 url(../images/Rectangle\ 74.svg) left no-repeat;
	border-bottom: 1.5px solid #D0000F;
	background-position-y: 26px;
	padding-bottom: 25px;
}
#nav{
	top: 20px;
	position: relative;
}
#nav:hover .hideMenu {
	height: 128px !important;
	opacity: 1 !important;
}
.submenu{
	padding-top: 5px;
	top: 45px;
	margin-left: 25px;
	height: 128px;
	width: 223px;
	background: #F3F3F3;
	position: absolute;
	transition:all 0.2s ease-in;
}
.hideMenu {
	height: 0;
	opacity: 0;
}
.submenu_item{
	border-bottom: 1px solid #B8B8B8;
	margin-top: 8px;
	color: #3D3D3D;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	display:inline-block;
	margin-left: 17px;
}
.submenu_item:hover{
	border-bottom:1.5px solid #D0000F;
}
.business_in_sw{
	border-bottom: 1px dashed #B8B8B8;
	background: url(../images/Rectangle\ 7.svg) right no-repeat;
	padding-right: 17px;
	background-position-y: 8px;
	position: relative;
	top: -20px;
}
.business_in_sw:hover{
	background: url(../images/Rectangle\ 74.svg) right no-repeat;
	background-position-y: 5px;
}
.submenu_2{
	padding-top: 5px;
	top: 10px;
	margin-left: 100px;
	height: 128px;
	width: 240px;
	background: #F3F3F3;
	position: absolute;
	overflow: hidden;
	transition:all 0.2s ease-in;
}
.hideMenu2, .hideMenu3, .hideMenu4{
	height: 0;
	opacity: 0;
}
.submenu_tax{
	display: block;
	width: 106px;
}
#nav_2{
	top: 20px;
	position: relative;
}
#nav_2:hover .hideMenu2 {
	height: 128px !important;
	opacity: 1 !important;
}
.link2{
	-ms-grid-column: 3;
	-ms-grid-column-span: 1;
	grid-column: 3/4;
	margin-left: 50px;
}
.phone{
	-ms-grid-column: 4;
	-ms-grid-column-span: 1;
	grid-column: 4/5;
	margin-left: 331px;
}
.link3{
	border-bottom: 1px dashed #B8B8B8;
	-ms-grid-column: 5;
	-ms-grid-column-span: 1;
	grid-column: 5/6;
	margin-left: 50px;
	padding-bottom: 9px;
}
.link3:hover{
	background: #F3F3F3;
	border-bottom: 1px dashed #D0000F;
}
.nav_join{
	top: 20px;
	position: relative;
	grid-column: 5/6;
}
.nav_join:hover .submenu_join{
	height: 90px !important;
	opacity: 1 !important;
}
.submenu_join{
	padding-top: 20px;
	top: 30px;
	margin-left: 50px;
	height: 128px;
	width: 186px;
	background: #F3F3F3;
	position: absolute;
	overflow: hidden;
	transition:all 0.2s ease-in;
}
.input_join{
	display:inline-block;
	width: 156px;
	font-size: 18px;
	line-height: 23px;
	color: #B8B8B8;
	border-bottom: 1px solid #B8B8B8;
	outline: none;
   background: none;
	border-top: none;
   border-right: none;
   border-left: none;
	margin-left: 10px;
}
.button_join{
	color: #B8B8B8;
	border-bottom: 1px solid #B8B8B8;
	border-top: none;
   border-right: none;
   border-left: none;
	display:inline-block;
	width: 50px;
	font-size: 18px;
	line-height: 23px;
	margin-left: 10px;
	text-align: start;
	margin-top: 8px;
   background: none;
}

.language{
	border-bottom: 1px dashed #B8B8B8;
	-ms-grid-column: 6;
	-ms-grid-column-span: 1;
	grid-column: 6/7;
	margin-left: 50px;
	padding-bottom: 9px;
}
.language:hover{
	background: #F3F3F3;
	border-bottom: 1px dashed #D0000F;
}
.nav_language{
	top: 20px;
	position: relative;
	grid-column: 6/7;
}
.nav_language:hover .submenu_language{
	height: 170px !important;
	opacity: 1 !important;
}
.submenu_language{
	padding-top: 10px;
	top: 30px;
	margin-left: 50px;
	width: 47px;
	background: #F3F3F3;
	position: absolute;
	overflow: hidden;
	transition:all 0.2s ease-in;
}
.submenu_language_item{
	border-bottom: 1px solid #B8B8B8;
	margin-top: 12px;
	color: #3D3D3D;
	font-size: 18px;
	line-height: 23px;
	text-decoration: none;
	display:block;
	margin-left: 10px;
	width: 28px;
}
.submenu_language_item:hover{
	border-bottom:1px solid #D0000F;
}
