/*Footer*/
.container_footer{
	width: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
	justify-content: center;
	background: #3D3D3D;
}
.wrap_footer{
	width: 1120px;
	height: 190px;
	display: grid;
	grid-template-columns: 284px 238px 238px 329px 25px;
	background: #3D3D3D;
	mix-blend-mode: normal;
	padding: 40px 0px 46px 0px;
}
.footer_link{
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	height: 27px;
	border-bottom: 1px solid #FFFFFF;
	text-decoration: none;
	padding-top: 15px;
	position: relative;
	top: -30px;
}
.footer_link:hover{
	border-bottom: 1px solid #D0000F;
}
.social_link{
	padding-right: 30px;
}
.link8, .link13{
	padding-top: 0;
	color: #B8B8B8;
	border-bottom: none;
	top: 0;
}
.link8:hover,
.link13:hover{
	border-bottom: none;
}

#social7{
	padding-right: 0;
}
.link9{
	grid-column: 2/3;
	grid-row: 2/3;
	width: 179px;
	top: -27px;
}
.link10, .link11, .link12{
	grid-column: 2/3;
}
.link10{
	width: 171px;
}
.link11{
	width: 129px;
}
.link12{
	width: 123px;
}
.link13{
	grid-column: 3/4;
	grid-row: 1/2;
}
.link14{
	width: 42px;
	grid-column: 3/4;
	grid-row: 2/3;
	top: -27px;
}
.link15{
	grid-column: 3/4;
	grid-row: 3/4;
	width: 63px;
}
.link16{
	grid-column: 3/4;
	grid-row: 4/5;
	width: 61px;
}
.link18{
	grid-column: 4/5;
	grid-row: 2/3;
	width: 55px;
	top: -33px;
	padding-bottom: 9px;
	padding-top: 0;
}
.link18:hover{
	background: #F3F3F3;
	color: #3D3D3D;
}
.language2{
	grid-column: 5/6;
	grid-row: 1/2;
	border-bottom: 1px dashed #FFFFFF;
	width: 21px;
	top: 0;
	padding-top: 0;
	padding-bottom: 9px;
}
.language2:hover{
	background: #F3F3F3;
	color: #3D3D3D;
}
.nav_language2{
	grid-column: 5/6;
	grid-row: 1/2;
	position: relative;
}
.nav_language2:hover .submenu_language2{
	height: 128px !important;
	opacity: 1 !important;
}
.hideMenu5{
	height: 0;
	opacity: 0;
}
.submenu_language2{
	padding-top: 5px;
	top: 28px;
	margin-left: 0px;
	height: 128px;
	width: 50px;
	background: #F3F3F3;
	position: absolute;
	overflow: hidden;
	transition:all 0.2s ease-in;
}
.submenu_language_item2{
	border-bottom: 1px solid #B8B8B8;
	margin-top: 9px;
	color: #3D3D3D;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	display:inline-block;
	margin-left: 15px;
}
.submenu_language_item2:hover{
	border-bottom:1px solid #D0000F;
}
#footer_trigon{
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 14px solid #FFFFFF;
}
#footer_trigon:hover{
	border-bottom: 14px solid #D0000F;
}
.trigon_footer{
	grid-column: 5/6;
	grid-row: 3/4;
	text-decoration: none;
}
.phone2{
	grid-column: 4/5;
	grid-row: 1/2;
	width: 135px;
	top: 0;
	padding-top: 0;
}
.footer_contacts{
	top: -12px;
	position: relative;
	grid-column: 4/6;
	grid-row: 5/6;
}
.nav_join2{
	top: 20px;
	position: relative;
	grid-column: 4/5;
	grid-row: 2/3;
}
.nav_join2:hover .submenu_join2{
	height: 75px !important;
	opacity: 1 !important;
}
.submenu_join2{
	padding-top: 20px;
	top: -5px;
	margin-left: 0px;
	width: 186px;
	background: #F3F3F3;
	position: absolute;
	overflow: hidden;
	transition:all 0.2s ease-in;
}
.input_join2{
	display:inline-block;
	width: 156px;
	font-size: 18px;
	line-height: 23px;
	color: #B8B8B8;
	border-bottom: 1px solid #B8B8B8;
	outline: none;
   background: none;
	border-top: none;
   border-right: none;
   border-left: none;
	margin-left: 10px;
}
.button_join2{
	color: #B8B8B8;
	border-bottom: 1px solid #B8B8B8;
	border-top: none;
   border-right: none;
   border-left: none;
	display:inline-block;
	width: 50px;
	font-size: 18px;
	line-height: 23px;
	margin-left: 10px;
	text-align: start;
	margin-top: 8px;
   background: none;
}



