@media (min-width: 992px) and (max-width: 1290px) {
	/*Header*/
	.header{
		width:930px;
	}
	.phone{
		margin-left: 150px;
	}
	/*MainScreen*/
	.wrap_mainScreen{
		width:930px;
		grid-template-columns:374px 522px;
		grid-column-gap:31.66px;
		margin-top:36px;
	}
	.mainScreen_title{
		line-height: 48px;
	}
	.mainScreen_subtitle{
		padding-top: 10px;
	}
	.mainScreen_link{
		line-height: 25px;
	}
	.link4, .link5{
		padding-top: 70px;
	}
	.link6, .link7{
		padding-top: 32px;
	}
	#mainImage{
		width: 522px;
		height: 325px;
	}
	.mountains{
		top: 50px;
		left: -180px;
		height: 375px;
	}
	#mountains_img{
		width: 1490px;
	}
	/*SettleGrow*/
	.wrap_settleGrow{
		width:930px;
		height: 1000px;
		grid-template-columns:425px 475px;
		grid-column-gap:45px;
	}
	.settleGrow_title{
		line-height: 48px;
	}
	.grow_item1{
		padding-top: 30px;
	}
	.grow_item2, .grow_item3{
		padding-top: 20px;
	}
	.grow_text2, .grow_text3{
		width: 458px;
	}
	.grow_text1{
		width: 450px;
	}
	.grow_download{
		width: 345px;
		height: 84px;
		padding: 31px 87.5px;
		left: 40px;
	}
	#grow_img{
		width: 425px;
		height: 705px;
	}
	.wrap_subscribe{
		width:930px;
		height: 420.51px;
		border-radius: 10px;
		margin-top: 46px;
	}
	.subscribe_title{
		width: 346px;
		margin: 169.51px 544px 20px 40px;
	}
	.subcribe_input{
		height: 88px;
		margin-left: 40px;
		font-size: 16px;
		line-height: 26px;
	}
	.subcribe_button{
		height: 88px;
		font-size: 16px;
		line-height: 26px;
	}
	.subcribe_text{
		top: -50px;
		margin-left: 563px;
	}
	.wrap_information{
		width:930px;
		margin: 46px 0px 79px 0px;
		display: grid;
		grid-gap: 45.9px;
		grid-template-columns:repeat(2, 442px);
	}
	#block1_img, #block2_img, #block3_img, #block4_img{
		width: 442px;
		height: 276px;
	}
	.information_title{
		padding-left: 0px;
		margin: 0px 0px 10px 0px;
	}
	.block1_title{
		width: 262px;
	}
	.block2_title{
		width: 263px;
	}
	.block3_title{
		width: 202px;
	}
	.block4_title{
		width: 263px;
	}
	.information_text{
		padding-left: 0px;
	}
	.information_more{
		margin:  0px;
	}
	.information_block1{
		grid-template-rows: 305px 94px 176px 40px;
	}
	.information_block2{
		grid-template-rows: 305px 94px 228px 40px;
	}
	.information_block3{
		grid-template-rows: 305px 94px 368px 40px;
	}
	.information_block4{
		grid-template-rows: 305px 94px 290px 40px;
	}
	/*Footer*/
	.wrap_footer{
		width: 930px;
		height: 356px;
		grid-template-columns: 308px 242px 143px 215px 25px;
		padding-top: 40px;
	}
	.footer_link{
		top: -62px;
	}
	.link8, .link13, .phone2{
		top: 5px;
	}
	.link9, .link14, .link18 {
		top: -43px;
	}
	.link11, .link16{
		top: -80px;
	}
	.link12{
		top: -99px;
	}
	.link18{
		top: -27px;
	}
	.language2{
		top: 5px;
	}
	#footer_trigon{
		padding-left: 5px;
		grid-row: 2/3;
		top: -12px;
		position: relative;
	}
	.footer_contacts{
		top: -70px;
		grid-column: 2/4;
		grid-row: 6/7;
	}
}

