@media (min-width: 768px) and (max-width: 992px) {
/*businessSw*/
	.wrap_businessSw{
		width:690px;
	}
	#background_businessSw{
		left: -350px;
		width: 1220px;
		height: 500px;
	}
	#logo_businessSw{
		top: 50px;
		left: 50px;
		height: 450px;
	}
	.businessSw_information{
		grid-template-columns: 455px 227px;
		grid-column-gap: 7px;
	}
	.businessSw_title{
		grid-column: 1/2;
		width: 373px;
	}
	.info_block_title span{
		display: none;
	}
	.businessSw_subtitle{
		font-size: 35px;
		grid-column: 1/2;
		width: 455px;
		margin: 0 0 37px 0;
	}
	.businessSw_text{
		width: 427px;
	}
	.businessSw_information_btn2{
		top: 82px;
	}
	.businessSw_information_btn3{
		top: 164px;
	}
	.businessSw_info_block{
		margin-top: 89px;
		height: 620px;
		grid-template-columns: 233px 174px;
		grid-template-rows: 265px 265px;
		grid-column-gap: 83px;
		grid-row-gap: 85px;
	}
	.info_block_3{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.info_block_4{
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.info_block_btn2{
		position: relative;
		top: -21px;
	}
	.businessSw_timeline{
		margin: 107px 0 40px 0;
	}
	.businessSw_first_row{
		grid-template-columns:  232px 153px 152px 152px;
		width: 690px;
		height: 180px;
	}
	.businessSw_packages_rates{
		position: relative;
		font-size: 24px;
		line-height: 34px;
		margin: 0 0 12px 0;
	}
	.first_row_column2 .businessSw_packages_rates{
		position: relative;
		left: -30px;
	}
	.first_row_column3 .businessSw_packages_rates{
		position: relative;
		left: -22px;
	}
	.first_row_column4 .businessSw_packages_rates{
		position: relative;
		left: -14px;
	}
	.businessSw_packages_button1,
	.businessSw_packages_button2,
	.businessSw_packages_button3{
		display: inline-block;
		padding: 11px 18px;
		height: 76px;
		text-align: left;
	}
	.businessSw_packages_button1{
		width: 128px;
	}
	.businessSw_packages_button2{
		width: 138px;
	}
	.businessSw_packages_button3{
		width: 132px;
	}
	.businessSW_additionally{
		margin: 85px 0 84px 0;
		grid-template-columns: 690px;
		grid-column-gap: 0px;
	}
	.businessSW_additionally .businessSw_item{
		margin-bottom: 20px;
	}
	@media (min-width: 768px) and (max-width: 830px) {
		.about_header_block{
			left: 17%;
		}
	}
	/*About*/
	.wrap_about{
		width:690px;
	}
	#background_about{
		left: -350px;
		width: 1220px;
		height: 479px;
	}
	#logo_about{
		display: none;
	}
	.about_header_block{
		text-align: center;
		width: 513px;
		height: 339px;
		top: 70px;
		left: 22%;
	}
	.header_block_title{
		padding: 40px 0 0 100px;
		width: 313px;
	}
	.header_block_subtitle{
		padding-left: 80.89px;
		width: 351px;
	}
	.header_block_link1{
		margin-left: 0px;
	}
	.header_block_link2{
		margin-left: 38px;
		width: 63px;
	}
	.header_block_link3{
		margin-left: 38px;
		width: 61px;
	}
	.about_title{
		font-size: 35px;
		line-height: 42px;
		margin: 62px 0 25px 0;
	}
	.about_text{
		font-size: 14px;
		line-height: 22px;
		width: 689px;
	}
	.about_information{
		margin: 69px 0 0 0 ;
		grid-template-columns: 277px 282px;
		grid-template-rows: 200px 206px;
		grid-row-gap: 47px;
		grid-column-gap: 90px;
	}
	.about_information_block1{
		grid-column: 2/3;
		grid-row: 1/3;
	}
	.about_information_block2{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.about_information_block3{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.information_block_text{
		width: 255px;
		margin: 0 0 16px 0;
	}
	.about_benefits{
		margin: 82px 0 0 0;
	}
	.benefits1_row1, .benefits2_row1, .benefits3_row1,
	.benefits1_row2, .benefits2_row2{
		display: block;
		flex: 0;
	}
	.about_benefets_text{
		width: 167px;
		padding-left: 0;
	}
	.benefits3_row1{
		width: 166px;
	}
	.benefits1_row1{
		width: 173px;
		margin-right: 60px;
	}
	.benefits2_row1{
		margin-right: 60px;
	}
	.benefits1_row2{
		margin-right: 54px;
	}
	.benefits2_row1 .about_benefets_text{
		width: 230px;
		top: 10px;
	}
	.benefits2_row2 .about_benefets_text{
		width: 221px;
		top: 4px;
	}
	.benefits3_row1 .about_benefets_text{
		width: 180px;
		top: 5px;
	}
	.benefits1_row2 .about_benefets_text{
		width: 216px;
	}
	.about_team_title{
		margin: 117px 0 0 0;
	}
	.about_team{
		margin: 43px 0 0 0;
		grid-template-columns: repeat(2, 326px);
		grid-template-rows: 1390px 1150px 1090px;
		grid-column-gap: 38px;
		grid-row-gap: 68px;
	}
	.person_name{
		margin: 25px 0 0 0
	}
	#person_img{
		width: 326px;
	}
	.about_partners_block{
		margin: 100px 0 69px 0;
	}
	.partners_block_map{
		margin: 30px 0 0 0;
		left: 0px;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		width: 630px;
	}
	#map_img{
		width: 630px;
	}
	#location_img{
		width: 19px;
	}
	.map_location_1{
		top: 40px;
		left: 275px;
	}
	.map_location_2{
		top: 25px;
		left: 350px;
	}
	.map_location_3{
		top: 90px;
		left: 365px;
	}
	.map_location_4{
		top: 100px;
		left: 420px;
	}
}

