@media (min-width: 768px) and (max-width: 992px) {
/*SwissCompanies*/
	.wrap_SwissCompanies{
		width:690px;
	}
	#background_swiss{
		left: -350px;
		width: 1220px;
		height: 500px;
	}
	#logo_swiss{
		top: 50px;
		left: 50px;
		height: 450px;
	}
	.SwissCompanies_information{
		grid-template-columns: 418px 240px;
		grid-column-gap: 30px;
		margin: 0 0 80px 0;
		height: 805px;
	}
	.SwissCompanies_title{
		font-size: 55px;
		line-height: 74px;
		margin: 55px 0 20px 0;
	}
	.SwissCompanies_text{
		width: 418px;
		margin: 0 0 10px 0;
	}
	.SwissCompanies_text_2{
		width: 430px;
	}
	.benefits_1{
		width: 220px;
	}
	.icon-plus{
		margin-right: 12px;
	}
	.SwissCompanies_button1{
		width: 203px;
		grid-column: 1/2;
		height: 52px;
	}
	.SwissCompanies_button2{
		top: 39px;
		left: 0px;
	}
	.SwissCompanies_button3{
		top: -13px;
		left: 254px;
	}
	.table_information{
		padding-left: 20px;
	}
	.table_column, .table_row{
		background: #F5F5F5;
		border: 1px solid #CCCCCC;
		padding: 22px 24px;
		white-space: nowrap;
		text-align: left;
	}
	.table_row{
		padding: 22px 20px;
		width: 241px;
		height: 84px;
	}
	.table_text{
		padding: 20px 24px;
		width: 191px;
	}
	.link_last_row1, .link_last_row2, .link_last_row3,
	.link_last_row4, .link_last_row5, .link_last_row6,
	.link_last_row7, .link_last_row8, .link_last_row9{
		margin-left: 24px;
	}
	.link_last_row1, .link_last_row4, .link_last_row7{
		margin: 28px 0 26px 24px;
	}
	.link_last_row2, .link_last_row5, .link_last_row8{
		margin: 0 0 15px 24px;
	}
	.packages{
		margin-top: 20px;
	}
	.first_row{
		width: 690px;
		grid-template-columns:  232px 153px 152px 152px;
	}
	.row_grey, .row_white{
		height: 84px;
	}
	.column_3, .column_4{
		width: 152px;
	}
	.column_1{
		width: 232px;
	}
	.column_2{
		width: 153px;
	}
	.span_button{
		font-size: 18px;
	}
	.last_row_packages{
		grid-template-columns:  232px 153px 152px 152px;
		width: 690px;
		height: 100px;
	}
	.packages_button1, .packages_button2, .packages_button3{
		padding: 9px 15px;
		height: 77px;
		text-align: left;
	}
	.packages_button1{
		width: 118px;
	}
	.packages_button2{
		width: 130px;
	}
	.packages_button3{
		width: 130px;
	}
	.additionally{
		margin-top: 80px;
		grid-template-columns: 690px;
		grid-column-gap: 0px;
	}
	.additionally_text{
		grid-column: 1/2;
		grid-row:2/3;
		width: 430px;
	}
	.additionally_table{
		margin-top: 50px;
		grid-row: 3/4;
	}
	.additionally_row_grey, .additionally_row_white{
		height: 95px;
	}
	.AT_column1{
		width: 203px;
		margin-right: 85px;
	}
	.AT_column2{
		width: 131px;
		margin-right: 70px;
	}
	.AT_column3{
		width: 179px;
	}
	.additionally_name{
		padding-left: 40px;
	}
	.additionally_button, .additionally_button_buy{
		width: 137px;
		height: 31px;
		padding: 5px 12px;
	}
	.additionally_buy{
		padding: 10px 15px;
		height: 50px;
		width: 207px;
		top:20px;
		text-align: center;
	}
	.text_center{
		margin-bottom: 120px;
		width: 690px;
	}
	
}

