@media (min-width: 992px) and (max-width: 1290px) {
/*businessSw*/
	.wrap_businessSw{
		width:930px;
	}
	#background_businessSw{
		left: -400px;
		width: 1520px;
		height: 500px;
	}
	#logo_businessSw{
		left: 50px;
		height: 450px;
	}
	.businessSw_information{
		grid-template-columns: 573px 227px;
		grid-column-gap: 130px;
	}
	.businessSw_info_block{
		margin-top: 75px;
		height: 270px;
		display: grid;
		grid-template-columns: 233px 174px 190px 189px;
		grid-column-gap: 53px;
	}
	.info_block_btn2{
		position: relative;
		top: -21px;
	}
	.info_block_title span{
		display: none;
	}
	.businessSw_timeline{
		margin: 107px 0 30px 0;
	}
	.businessSw_first_row{
		width: 930px;
		height: 210px;
		grid-template-columns:  232px 233px 232px 233px;
	}
	.businessSw_packages_rates{
		margin: 0 0 28px 0;
	}
	.first_row_column2 .businessSw_packages_rates{
		position: relative;
		left: -22px;
	}
	.first_row_column3 .businessSw_packages_rates{
		position: relative;
		left: -10px;
	}
	.businessSw_packages_button1,
	.businessSw_packages_button2,
	.businessSw_packages_button3{
		display: inline-block;
		padding: 9px 20px;
		height: 89px;
		text-align: left;
		line-height: 33px;
	}
	.businessSw_packages_button1{
		width: 140px;
	}
	.businessSw_packages_button2{
		width: 150px;
	}
	.businessSw_packages_button3{
		width: 154px;
	}
	.businessSW_additionally{
		margin: 107px 0;
		grid-template-columns: 577px 306px;
		grid-column-gap: 45px;
	}

}
@media (min-width: 1300px) and (max-width: 1550px) {
	#logo_about{
		left: -70px;
	}
	.about_header_block{
		left: 740px;
	}
}
@media (min-width: 992px) and (max-width: 1290px) {
	/*About*/
	.wrap_about{
		width:930px;
	}
	#background_about{
		left: -400px;
		width: 1520px;
		height: 500px;
	}
	#logo_about{
		left: -300px;
		height: 450px;
	}
	.about_header_block{
		top: 124px;
		left: 450px;
	}
	.benefits1_row2{
		margin-right: 50px;
	}
	.about_information{
		grid-column-gap: 55px;
	}
	.about_team_title{
		margin: 106px 0 0 0;
	}
	.about_team{
		margin: 47px 0 0 0;
		grid-template-columns: repeat(3, 294px);
		grid-template-rows: 1400px 1100px;
		grid-column-gap: 24px;
		grid-row-gap: 66px;
	}
	#person_img{
		width: 294px;
	}
	.person_name{
		margin: 32px 0 0 0
	}
	.person_position{
		margin: 12px 0 22px 0;
	}
	.person_text, .person_info, .person_info_1{
		width: 270px;
	}
	.about_partners_block{
		margin: 91px 0 123px 0;
	}
	.partners_block_map{
		margin: 82px 0 0 0;
		left: -20px;
	}
	#map_img{
		width: 963px;
	}
	#location_img{
		width: 30px;
	}
	.map_location_1{
		top: 60px;
		left: 420px;
	}
	.map_location_2{
		top: 30px;
		left: 530px;
	}
	.map_location_3{
		top: 135px;
		left: 553px;
	}
	.map_location_4{
		top: 160px;
		left: 645px;
	}


	/*Error*/
	.wrap_error{
		margin:119px 0 244px 0;
		width:930px;
	}
	
	/*InvestmentStart*/
	.wrap_investment{
		width:930px;
	}
	#background_investment{
		left: -400px;
		width: 1520px;
		height: 500px;
	}
	#logo_investment{
		left: 50px;
		height: 450px;
	}
	.investment_start_text{
		margin: 20px 0 0 0;
		width: 927px;
	}
	.investment_information{
		grid-template-columns: 397px 348px;
		grid-column-gap: 93px;
	}
	.investment_registration_text2{
		display: none;
	}
	.investment_registration{
		grid-template-columns: 690px;
		grid-column-gap: 0px;
		margin: 31px 0 88px 0;
	}
}

