@media (min-width: 992px) and (max-width: 1290px) {
/*SwissCompanies*/
	.wrap_SwissCompanies{
		width:930px;
	}
	#background_swiss{
		left: -400px;
		width: 1520px;
		height: 500px;
	}
	#logo_swiss{
		left: 50px;
		height: 450px;
	}
	.SwissCompanies_information{
		grid-template-columns: 560px 240px;
		grid-column-gap: 100px;
		margin: 0 0 80px 0;
		height: 585px;
	}
	.SwissCompanies_text{
		width: 560px;
		margin: 0 0 15px 0;
	}
	.SwissCompanies_text_2{
		width: 573px;
	}
	.benefits_1{
		width: 220px;
	}
	.icon-plus{
		margin-right: 15px;
	}
	.table_information{
		padding-left: 20px;
	}
	.table_column, .table_row{
		background: #F5F5F5;
		border: 1px solid #CCCCCC;
		padding: 22px 24px;
		white-space: nowrap;
		text-align: left;
	}
	.table_row{
		padding: 22px 20px;
		width: 241px;
		height: 84px;
	}
	.table_text{
		padding: 20px 24px;
		width: 225px;
	}
	.link_last_row1, .link_last_row2, .link_last_row3,
	.link_last_row4, .link_last_row5, .link_last_row6,
	.link_last_row7, .link_last_row8, .link_last_row9{
		margin-left: 24px;
	}
	.link_last_row1, .link_last_row4, .link_last_row7{
		margin: 28px 0 26px 24px;
	}
	.link_last_row2, .link_last_row5, .link_last_row8{
		margin: 0 0 15px 24px;
	}
	.packages{
		margin-top: 20px;
	}
	.first_row{
		width: 930px;
		grid-template-columns:  232px 233px 232px 233px;
	}
	.row_grey, .row_white{
		height: 84px;
	}
	.column_1, .column_2, .column_3,
	.column_4{
		width: 232px;
	}
	.column_2, .column_4{
		width: 233px;
	}
	.last_row_packages{
		grid-template-columns:  232px 233px 232px 233px;
		width: 930px;
		height: 110px;
	}
	.packages_button1, .packages_button2, .packages_button3{
		padding: 9px 22px;
		height: 85px;
		text-align: left;
	}
	.packages_button1{
		width: 143px;
	}
	.packages_button2{
		width: 150px;
	}
	.packages_button3{
		width: 157px;
	}
	.additionally{
		margin-top: 80px;
		grid-template-columns: 577px 308px;
		grid-column-gap: 45px;
	}
	.additionally_text{
		width: 308px;
	}
	.additionally_row_grey, .additionally_row_white{
		height: 95px;
	}
	.AT_column1{
		width: 220px;
	}
	.AT_column2{
		width: 176px;
	}
	.AT_column3{
		width: 180px;
	}
	.additionally_name{
		padding-left: 40px;
	}
	.additionally_button, .additionally_button_buy{
		width: 137px;
		height: 31px;
		padding: 5px 12px;
	}
	.additionally_buy{
		font-size: 16px;
		line-height: 26px;
		padding: 9px 20px;
		border-radius: 10px;
		height: 50px;
		width: 207px;
		top:20px;
	}
	.text_center{
		margin-bottom: 120px;
		width: 750px;
	}
}

