@media (min-width: 768px) and (max-width: 992px) {
	/*BankAccount*/
	.wrap_bankAccount{
		width:690px;
	}
	#background_bank{
		left: -200px;
		width: 1220px;
		height: 500px;
	}
	#logo_bank{
		padding-top: 50px;
		left: 80px;
		height: 450px;
	}
	.bankAccount_title{
		font-size: 46px;
		line-height: 80px;
		margin: 50px 0px 20px 0px;
	}
	.bankAccount_subtitle{
		width: 680px;
		margin: 0 0 34px 0;
	}
	.bankAccount_subtitle, .advantages_block1, .bankAccount_text{
		font-size: 16px;
		line-height: 26px;
		color: #000000;
	}
	.bankAccount_item{
		font-size: 23px;
		line-height: 32px;
		margin: 0;
	}
	#timeline_img{
		margin-top: 20px;
		height: 140px;
		width: 690px;
	}
	.bankAccount_block1{
		margin-top: 60px;
		grid-template-columns: 620px;
		grid-column-gap: 0px;
	}
	.advantages1{
		margin: 20px 0 10px 0;
	}
	.advantages3{
		margin: 10px 0;
	}
	.bankAccount_block2{
		margin-top: 60px;
		grid-template-columns: 620px;
		grid-column-gap: 0px;
	}
	.block2_text6{
		margin: 20px 0 10px 0;
	}
	.block2_text1{
		margin: 0;
		width: 620px;
	}
	.block2_text2{
		margin: 10px 0;
	}
	 .block2_text4{
		margin: 10px 0;
	}
	.bankAccount_block3{
		margin: 60px 0 96px 0;
		display: grid;
		grid-template-columns: 662px;
	}
	.block3_text1{
		margin: 20px 0 10px 0;
	}
	.block3_text3{
		margin: 10px 0 0 0;
	}
	.block1_button{
		margin-top: 15px;
		grid-column: 1/2;
		grid-row: 6/7;
	}
	.block2_button{
		grid-column: 1/2;
		grid-row: 8/9;
		margin-top: 15px;
		width: 260px;
	}
}