@media (min-width: 768px) and (max-width: 992px) {
	.wrap_error{
		margin:72px 0 135px 0;
		width:690px;
	}

	/*InvestmentStart*/
	.wrap_investment{
		width:690px;
	}
	#background_investment{
		left: -350px;
		width: 1220px;
		height: 500px;
	}
	#logo_investment{
		top: 50px;
		left: 50px;
		height: 450px;
	}
	.investment_start_title{
		margin: 40px 0 3px 0;
	}
	.investment_start_text{
		width: 690px;
	}
	.investment_information{
		margin: 39px 0 0 0;
		grid-template-columns: 326px 286px;
		grid-column-gap: 76px;
	}
	.investment_registration{
		grid-template-columns: 690px;
		grid-column-gap: 0px;
		margin: 35px 0 102px 0;
	}
	.investment_registration_text2{
		display: none;
	}


	/*BusinessDevelopment*/
	.wrap_development{
		width:690px;
	}
	.business_development{
		margin: 38px 0 0 0;
		grid-template-columns: 641px;
		grid-column-gap: 0px;
	}
	.business_development_title{
		grid-row: 2/3;
		width: 690px;
	}
	.business_development_subtitle{
		grid-row: 3/4;
		margin: 34px 0 0 0;
	}
	.business_development_img{
		grid-column: 1/2;
		grid-row:1/2;
		margin-bottom: 52px;
	}
	#development_img{
		width: 641px;
	}
	.due_diligence{
		margin: 111px 0 0 0;
	}
	.due_diligence_text{
		margin: 24px 0 0 0;
	}
	.due_diligence_item, .planning_item, .strategy_item,
	.legal_item, .marketing_item{
		margin: 24px 0 0 24px;
	}
	.due_diligence_block1, .due_diligence_block2,
	.due_diligence_block3, .due_diligence_block4, .planning_block1, 
	.planning_block2, .planning_block3, .strategy_block1, 
	.strategy_block2, .strategy_block3, .strategy_block4, 
	.strategy_block5, .legal_block1, .legal_block2, 
	.legal_block3, .legal_block4, .marketing_block1,.marketing_block2,
	.marketing_block3, .marketing_block4,
	.marketing_block5{
		width: 687px;
		margin: 31px 0 0 0;
	}
	.block1_colunns{
		margin: 33px 0 0 0;
		display: grid;
		grid-template-columns: 224px 238px;
		grid-template-rows: 370px 280px;
		grid-column-gap:69px;
		grid-row-gap: 24px;
	}
	.block1_column3{
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.planning_subtitle{
		width: 330px;
	}
	.planning_info{
		margin: -220px 0 0 400px; 
	}
	.planning_and_projecting_text{
		width: 455px;
		margin-top: 24px;
	}
	.legal_subtitle{
		width: 365px;
	}
	.legal_button{
		margin: -93px 0 0 461px;
	}
	.strategy li{
		width: 500px;
	}
	.due_diligence_block1{
		height: 1200px;
	}
	.block1_column3 li{
		width: 637px;
	}


	/*Blog*/
	.wrap_blog{
		width:690px;
	}
	#background_blog{
		left: -350px;
		width: 1220px;
		height: 500px;
	}
	#logo_blog{
		top: 50px;
		left: 50px;
		height: 450px;
	}
	.blog_grid{
		grid-template-columns: repeat(2, 335px);
		grid-template-rows: repeat(2, 350px);
		grid-column-gap: 20px;
		grid-row-gap: 43px;
	}
	#image_blog{
		width: 335px;
	}
}

