@media (min-width: 992px) and (max-width: 1290px) {
	/*BankAccount*/
	.wrap_bankAccount{
		width:930px;
	}
	#background_bank{
		left: -400px;
		width: 1920px;
		height: 500px;
	}
	#logo_bank{
		padding-top: 55px;
		left: 85px;
		height: 450px;
	}
	.bankAccount_title{
		font-size: 58px;
		line-height: 82px;
		margin: 60px 0px 31px 0px;
	}
	.bankAccount_item{
		font-size: 23px;
		line-height: 32px;
		margin: 0;
	}
	#timeline_img{
		margin-top: 10px;
		width: 930px;
		height: 190px;
	}
	.bankAccount_block1{
		margin-top: 60.75px;
		grid-template-columns: 620px 295px;
		grid-column-gap: 20px;
	}
	.advantages1{
		margin: 20px 0 15px 0;
	}
	.advantages3{
		margin: 15px 0;
	}
	.bankAccount_block2{
		margin-top: 62.9px;
		grid-template-columns: 620px 295px;
		grid-column-gap: 20px;
	}
	.block2_text6{
		width: 622px;
		font-size: 16px;
		line-height: 26px;
		margin: 20px 0 16px 0;
	}
	.block2_text1{
		margin: 0;
		width: 620px;
	}
	.block2_text2{
		margin: 15px 0;
	}
	 .block2_text4{
		margin: 15px 0;
	}
	.bankAccount_block3{
		margin: 42.4px 0 96px 0;
		grid-template-columns: 620px;
	}
	.block3_text1{
		margin: 20px 0 15px 0;
	}
	.block3_text3{
		margin: 15px 0 0 0;
	}
	.block1_button{
		margin-top: 25px;
		width: 290px;
		height: 51px;
		padding: 9px 18px;
	}
	.advantages_block1{
		right: -5px;
		width: 620px;
	}
}

