@media (min-width: 768px) and (max-width: 992px) {
	/*Header*/
	.header{
		width:690px;
		height: 67px;
	}
	.red_logo{
		width: 204px;
		height: 60px;
		border-radius: 0px 0px 4.50096px 4.50096px;
	}
	#logo{
		padding-left: 22.5px;
		padding-top: 11.47px;
		width: 159px;
		height: 36px;
	}
	.header_link{
		font-size: 14px;
		line-height: 17px;
		height: 24px;
		padding-top: 17px;
	}
	.link1{
		margin-left: 25px;
		background-position-y: 24px;
		padding-bottom: 7px;
		top: -5px;
	}
	.link2, .link3, .phone{
		margin-left: 27px;
	}
	.language{
		margin-left: 61px;
	}
	/*MainScreen*/
	.wrap_mainScreen{
		width:690px;
		grid-template-columns:343px 308px;
		grid-column-gap:39px;
		margin-top:54.69px;
	}
	.mainScreen_title{
		font-size: 35px;
		line-height: 42px;
		width: 250px;
	}
	.mainScreen_subtitle{
		font-size: 14px;
		line-height: 22px;
		width: 307px;
		padding-top: 10px;
	}
	.mainScreen_link{
		font-size: 14px;
		line-height: 17px;
		height: 23px;
	}
	#mainImage{
		position: relative;
		top: -35px;
		width: 308px;
		height: 315px;
	}
	.link4, .link5{
		padding-top: 31px;
	}
	.link5{
		margin-left: 193.66px;
	}
	.link7{
		margin-left: 151px;
		width: 108px;
	}
	.link4{
		width: 156px;
	}
	.link6{
		width: 113px;
	}
	.mountains{
		top: 92px;
		left: -115px;
		height: 300px;
	}
	#mountains_img{
		width: 1000px;
	}
	/*SettleGrow*/
	.wrap_settleGrow{
		top: -85px;
		width:690px;
		height: 835px;
		grid-template-columns:315px 345px;
		grid-column-gap:30px;
	}
	.settleGrow_title{
		display: none;
	}
	.settleGrow_title2{
		display: inline-block;
		font-size: 35px;
		line-height: 42px;
		margin: 0;
		width: 231px;
		grid-column: 1/2;
		grid-row: 2/3;
		z-index: 15;
		margin-bottom: 20px;
	}
	.settleGrow_item{
		font-size: 21px;
		line-height: 26px;
	}
	.settleGrow_text{
		font-size: 14px;
		line-height: 22px;
		padding-top: 0px;
	}
	#grow_img{
		width: 315px;
		height: 514px;
	}
	.settleGrow_img{
		width: 315px;
		height: 514px;
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.settleGrow_block{
		grid-column: 2/3;
		grid-row: 3/4;
	}
	.grow_item1{
		padding-top: 0px;
	}
	.grow_item2, .grow_item3{
		padding-top: 20px;
	}
	.grow_text1, .grow_text2, .grow_text3{
		width: 345px;
	}
	.grow_download{
		font-size: 14px;
		line-height: 22px;
		width: 241px;
		height: 75px;
		padding: 26.5px 50.5px;
		top: -91px;
		left: 37px;
	}
	/*Subscribe*/
	.wrap_subscribe{
		width:690px;
		height: 359px;
		border-radius: 10px;
		margin-top: 38px;
	}
	.subscribe_title{
		width: 303px;
		font-size: 35px;
		line-height: 42px;
		margin: 137.5px 347px 20px 40px;
	}
	.subcribe_input{
		width: 346px;
		height: 75px;
		padding: 31px;
		margin-left: 40px;
		font-size: 14px;
		line-height: 22px;
	}
	.subcribe_button{
		width: 108px;
		height: 75px;
		font-size: 14px;
		line-height: 22px;
	}
	.subcribe_text{
		width: 104.5px;
		top: -69px;
		margin-left: 534px;
	}
	/*Information*/

	.wrap_information{
		width:690px;
		margin: 38px 0px;
		grid-gap: 34px;
		grid-template-columns:repeat(2, 328px);
	}
	#block1_img, #block2_img, #block3_img, #block4_img{
		width: 328px;
		height: 205px;
		margin-bottom: 21px;
	}
	.information_title{
		padding-left: 8px;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 0px;
	}
	.block1_title, .block2_title, .block3_title, .block4_title{
		width: 195px;
	}
	.information_text{
		padding-left: 8px;
		font-size: 14px;
		line-height: 22px;
		margin: 0;
		width: 312px;
	}
	.information_more{
		width: 41px;
		margin: 0px 0px 0px 8px;
		height: 26px;
	}
	.information_block1{
		grid-template-rows: 226px 86px 182px 26px;
	}
	.information_block2{
		grid-template-rows: 226px 86px 247px 26px;
	}
	.information_block3{
		grid-template-rows: 226px 86px 357px 26px;
	}
	.information_block4{
		grid-template-rows: 226px 86px 267px 26px;
	}
	/*Footer*/
	.wrap_footer{
		width: 690px;
		height: 330px;
		grid-template-columns: 241px 143px 286px 17px;
		grid-template-rows: 77px 36px repeat(3, 42px) 59px 24px;
		padding: 36px 0px 70px 0px;
	}
	.footer_link{
		font-size: 14px;
		line-height: 22px;
		height: 25px;
		padding-top: 0px;
		top: 0px;
	}
	.footer_contacts{
		top: 0px;
		grid-column: 1/3;
		grid-row: 7/8;
	}
	.language2{
		grid-column: 4/5;
		grid-row: 2/3;
		width: 17px;
		top: 0;
		padding-top: 0;
	}
	#footer_trigon{
		grid-column: 4/5;
		grid-row: 3/4;
		padding-left: 2px;
		padding-top: 10px;
	}
	.phone2{
		grid-column: 3/4;
		grid-row: 2/3;
		width: 118px;
		top: 0;
		padding-top: 0;
	}
	.link8{
		grid-column: 1/2;
		grid-row: 2/3;
		padding-top: 0;
		top: 0;
	}
	.link9{
		grid-column: 1/2;
		grid-row: 3/4;
		width: 156px;
		top: 0px;
	}
	.link10{
		grid-column: 1/2;
		grid-row: 4/5;
		width: 149px;
	}
	.link11{
		grid-column: 1/2;
		grid-row: 5/6;
		width: 113px;
	}
	.link12{
		grid-column: 1/2;
		grid-row: 6/7;
		width: 108px;
	}
	.link13{
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.link14{
		width: 37px;
		grid-column: 2/3;
		grid-row: 3/4;
		top: 0px;
	}
	.link15{
		grid-column: 2/3;
		grid-row: 4/5;
		width: 55px;
	}
	.link16{
		grid-column: 2/3;
		grid-row: 5/6;
		width: 53px;
	}
	.link18{
		grid-column: 3/4;
		grid-row: 3/4;
		top: 0px;
	}


}

