@media (min-width: 992px) and (max-width: 1290px) {
/*BusinessDevelopment*/
	.wrap_development{
			width:930px;
	}
	.business_development{
		margin: 38px 0 0 0;
		grid-template-columns: 641px;
		grid-column-gap: 0px;
	}
	.business_development_title{
		grid-row: 2/3;
		width: 750px;
	}
	.business_development_subtitle{
		grid-row: 3/4;
		margin: 34px 0 0 0;
	}
	.business_development_img{
		grid-column: 1/2;
		grid-row:1/2;
		margin-bottom: 52px;
	}
	.due_diligence{
		margin: 111px 0 0 0;
	}
	.due_diligence_text{
		margin: 24px 0 0 0;
	}
	.due_diligence_item, .planning_item, .strategy_item,
	.legal_item, .marketing_item{
		margin: 24px 0 0 24px;
	}
	.due_diligence_block1, .due_diligence_block2,
	.due_diligence_block3, .due_diligence_block4, .planning_block1, 
	.planning_block2, .planning_block3, .strategy_block1, 
	.strategy_block2, .strategy_block3, .strategy_block4, 
	.strategy_block5, .legal_block1, .legal_block2, 
	.legal_block3, .legal_block4, .marketing_block1,.marketing_block2,
	.marketing_block3, .marketing_block4,
	.marketing_block5{
		width: 930px;
		margin: 31px 0 0 0;
	}
	#development_img{
		width: 641px;
	}
	.planning_subtitle{
		width: 471px;
	}
	.planning_info{
		margin: -190px 0 0 637px; 
	}
	.planning_and_projecting_text{
		width: 455px;
		margin-top: 24px;
	}
	.innovation ol{
		margin-top: 24px;
	}
	.legal_button{
		margin: -72px 0 0 699px;
	}

	/*Blog*/
	.wrap_blog{
		width:930px;
	}
	#background_blog{
		left: -400px;
		width: 1520px;
		height: 500px;
	}
	#logo_blog{
		left: 50px;
		height: 450px;
	}
	.blog_grid{
		grid-template-columns: repeat(2, 341px);
		grid-template-rows: repeat(2, 350px);
		grid-column-gap: 170px;
		grid-row-gap: 43px;
	}
}